/**
 * Material Design Icons
 * https://github.com/google/material-design-icons/tree/master/iconfont
 * Generated using codepoints.txt file
 * https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
 * Codepoints converted into class names by Saurabh Sharma
 *
 * Usage: <i class="mdi mdi-classname"></i>
 */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.mdi,
.material-icons {
 	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: inherit;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Material design icon classes */

.mdi-3d_rotation:before {content: "\e84d";}.mdi-ac_unit:before {content: "\eb3b";}.mdi-access_alarm:before {content: "\e190";}.mdi-access_alarms:before {content: "\e191";}.mdi-access_time:before {content: "\e192";}.mdi-accessibility:before {content: "\e84e";}.mdi-accessible:before {content: "\e914";}.mdi-account_balance:before {content: "\e84f";}.mdi-account_balance_wallet:before {content: "\e850";}.mdi-account_box:before {content: "\e851";}.mdi-account_circle:before {content: "\e853";}.mdi-adb:before {content: "\e60e";}.mdi-add:before {content: "\e145";}.mdi-add_a_photo:before {content: "\e439";}.mdi-add_alarm:before {content: "\e193";}.mdi-add_alert:before {content: "\e003";}.mdi-add_box:before {content: "\e146";}.mdi-add_circle:before {content: "\e147";}.mdi-add_circle_outline:before {content: "\e148";}.mdi-add_location:before {content: "\e567";}.mdi-add_shopping_cart:before {content: "\e854";}.mdi-add_to_photos:before {content: "\e39d";}.mdi-add_to_queue:before {content: "\e05c";}.mdi-adjust:before {content: "\e39e";}.mdi-airline_seat_flat:before {content: "\e630";}.mdi-airline_seat_flat_angled:before {content: "\e631";}.mdi-airline_seat_individual_suite:before {content: "\e632";}.mdi-airline_seat_legroom_extra:before {content: "\e633";}.mdi-airline_seat_legroom_normal:before {content: "\e634";}.mdi-airline_seat_legroom_reduced:before {content: "\e635";}.mdi-airline_seat_recline_extra:before {content: "\e636";}.mdi-airline_seat_recline_normal:before {content: "\e637";}.mdi-airplanemode_active:before {content: "\e195";}.mdi-airplanemode_inactive:before {content: "\e194";}.mdi-airplay:before {content: "\e055";}.mdi-airport_shuttle:before {content: "\eb3c";}.mdi-alarm:before {content: "\e855";}.mdi-alarm_add:before {content: "\e856";}.mdi-alarm_off:before {content: "\e857";}.mdi-alarm_on:before {content: "\e858";}.mdi-album:before {content: "\e019";}.mdi-all_inclusive:before {content: "\eb3d";}.mdi-all_out:before {content: "\e90b";}.mdi-android:before {content: "\e859";}.mdi-announcement:before {content: "\e85a";}.mdi-apps:before {content: "\e5c3";}.mdi-archive:before {content: "\e149";}.mdi-arrow_back:before {content: "\e5c4";}.mdi-arrow_downward:before {content: "\e5db";}.mdi-arrow_drop_down:before {content: "\e5c5";}.mdi-arrow_drop_down_circle:before {content: "\e5c6";}.mdi-arrow_drop_up:before {content: "\e5c7";}.mdi-arrow_forward:before {content: "\e5c8";}.mdi-arrow_upward:before {content: "\e5d8";}.mdi-art_track:before {content: "\e060";}.mdi-aspect_ratio:before {content: "\e85b";}.mdi-assessment:before {content: "\e85c";}.mdi-assignment:before {content: "\e85d";}.mdi-assignment_ind:before {content: "\e85e";}.mdi-assignment_late:before {content: "\e85f";}.mdi-assignment_return:before {content: "\e860";}.mdi-assignment_returned:before {content: "\e861";}.mdi-assignment_turned_in:before {content: "\e862";}.mdi-assistant:before {content: "\e39f";}.mdi-assistant_photo:before {content: "\e3a0";}.mdi-attach_file:before {content: "\e226";}.mdi-attach_money:before {content: "\e227";}.mdi-attachment:before {content: "\e2bc";}.mdi-audiotrack:before {content: "\e3a1";}.mdi-autorenew:before {content: "\e863";}.mdi-av_timer:before {content: "\e01b";}.mdi-backspace:before {content: "\e14a";}.mdi-backup:before {content: "\e864";}.mdi-battery_alert:before {content: "\e19c";}.mdi-battery_charging_full:before {content: "\e1a3";}.mdi-battery_full:before {content: "\e1a4";}.mdi-battery_std:before {content: "\e1a5";}.mdi-battery_unknown:before {content: "\e1a6";}.mdi-beach_access:before {content: "\eb3e";}.mdi-beenhere:before {content: "\e52d";}.mdi-block:before {content: "\e14b";}.mdi-bluetooth:before {content: "\e1a7";}.mdi-bluetooth_audio:before {content: "\e60f";}.mdi-bluetooth_connected:before {content: "\e1a8";}.mdi-bluetooth_disabled:before {content: "\e1a9";}.mdi-bluetooth_searching:before {content: "\e1aa";}.mdi-blur_circular:before {content: "\e3a2";}.mdi-blur_linear:before {content: "\e3a3";}.mdi-blur_off:before {content: "\e3a4";}.mdi-blur_on:before {content: "\e3a5";}.mdi-book:before {content: "\e865";}.mdi-bookmark:before {content: "\e866";}.mdi-bookmark_border:before {content: "\e867";}.mdi-border_all:before {content: "\e228";}.mdi-border_bottom:before {content: "\e229";}.mdi-border_clear:before {content: "\e22a";}.mdi-border_color:before {content: "\e22b";}.mdi-border_horizontal:before {content: "\e22c";}.mdi-border_inner:before {content: "\e22d";}.mdi-border_left:before {content: "\e22e";}.mdi-border_outer:before {content: "\e22f";}.mdi-border_right:before {content: "\e230";}.mdi-border_style:before {content: "\e231";}.mdi-border_top:before {content: "\e232";}.mdi-border_vertical:before {content: "\e233";}.mdi-branding_watermark:before {content: "\e06b";}.mdi-brightness_1:before {content: "\e3a6";}.mdi-brightness_2:before {content: "\e3a7";}.mdi-brightness_3:before {content: "\e3a8";}.mdi-brightness_4:before {content: "\e3a9";}.mdi-brightness_5:before {content: "\e3aa";}.mdi-brightness_6:before {content: "\e3ab";}.mdi-brightness_7:before {content: "\e3ac";}.mdi-brightness_auto:before {content: "\e1ab";}.mdi-brightness_high:before {content: "\e1ac";}.mdi-brightness_low:before {content: "\e1ad";}.mdi-brightness_medium:before {content: "\e1ae";}.mdi-broken_image:before {content: "\e3ad";}.mdi-brush:before {content: "\e3ae";}.mdi-bubble_chart:before {content: "\e6dd";}.mdi-bug_report:before {content: "\e868";}.mdi-build:before {content: "\e869";}.mdi-burst_mode:before {content: "\e43c";}.mdi-business:before {content: "\e0af";}.mdi-business_center:before {content: "\eb3f";}.mdi-cached:before {content: "\e86a";}.mdi-cake:before {content: "\e7e9";}.mdi-call:before {content: "\e0b0";}.mdi-call_end:before {content: "\e0b1";}.mdi-call_made:before {content: "\e0b2";}.mdi-call_merge:before {content: "\e0b3";}.mdi-call_missed:before {content: "\e0b4";}.mdi-call_missed_outgoing:before {content: "\e0e4";}.mdi-call_received:before {content: "\e0b5";}.mdi-call_split:before {content: "\e0b6";}.mdi-call_to_action:before {content: "\e06c";}.mdi-camera:before {content: "\e3af";}.mdi-camera_alt:before {content: "\e3b0";}.mdi-camera_enhance:before {content: "\e8fc";}.mdi-camera_front:before {content: "\e3b1";}.mdi-camera_rear:before {content: "\e3b2";}.mdi-camera_roll:before {content: "\e3b3";}.mdi-cancel:before {content: "\e5c9";}.mdi-card_giftcard:before {content: "\e8f6";}.mdi-card_membership:before {content: "\e8f7";}.mdi-card_travel:before {content: "\e8f8";}.mdi-casino:before {content: "\eb40";}.mdi-cast:before {content: "\e307";}.mdi-cast_connected:before {content: "\e308";}.mdi-center_focus_strong:before {content: "\e3b4";}.mdi-center_focus_weak:before {content: "\e3b5";}.mdi-change_history:before {content: "\e86b";}.mdi-chat:before {content: "\e0b7";}.mdi-chat_bubble:before {content: "\e0ca";}.mdi-chat_bubble_outline:before {content: "\e0cb";}.mdi-check:before {content: "\e5ca";}.mdi-check_box:before {content: "\e834";}.mdi-check_box_outline_blank:before {content: "\e835";}.mdi-check_circle:before {content: "\e86c";}.mdi-chevron_left:before {content: "\e5cb";}.mdi-chevron_right:before {content: "\e5cc";}.mdi-child_care:before {content: "\eb41";}.mdi-child_friendly:before {content: "\eb42";}.mdi-chrome_reader_mode:before {content: "\e86d";}.mdi-class:before {content: "\e86e";}.mdi-clear:before {content: "\e14c";}.mdi-clear_all:before {content: "\e0b8";}.mdi-close:before {content: "\e5cd";}.mdi-closed_caption:before {content: "\e01c";}.mdi-cloud:before {content: "\e2bd";}.mdi-cloud_circle:before {content: "\e2be";}.mdi-cloud_done:before {content: "\e2bf";}.mdi-cloud_download:before {content: "\e2c0";}.mdi-cloud_off:before {content: "\e2c1";}.mdi-cloud_queue:before {content: "\e2c2";}.mdi-cloud_upload:before {content: "\e2c3";}.mdi-code:before {content: "\e86f";}.mdi-collections:before {content: "\e3b6";}.mdi-collections_bookmark:before {content: "\e431";}.mdi-color_lens:before {content: "\e3b7";}.mdi-colorize:before {content: "\e3b8";}.mdi-comment:before {content: "\e0b9";}.mdi-compare:before {content: "\e3b9";}.mdi-compare_arrows:before {content: "\e915";}.mdi-computer:before {content: "\e30a";}.mdi-confirmation_number:before {content: "\e638";}.mdi-contact_mail:before {content: "\e0d0";}.mdi-contact_phone:before {content: "\e0cf";}.mdi-contacts:before {content: "\e0ba";}.mdi-content_copy:before {content: "\e14d";}.mdi-content_cut:before {content: "\e14e";}.mdi-content_paste:before {content: "\e14f";}.mdi-control_point:before {content: "\e3ba";}.mdi-control_point_duplicate:before {content: "\e3bb";}.mdi-copyright:before {content: "\e90c";}.mdi-create:before {content: "\e150";}.mdi-create_new_folder:before {content: "\e2cc";}.mdi-credit_card:before {content: "\e870";}.mdi-crop:before {content: "\e3be";}.mdi-crop_16_9:before {content: "\e3bc";}.mdi-crop_3_2:before {content: "\e3bd";}.mdi-crop_5_4:before {content: "\e3bf";}.mdi-crop_7_5:before {content: "\e3c0";}.mdi-crop_din:before {content: "\e3c1";}.mdi-crop_free:before {content: "\e3c2";}.mdi-crop_landscape:before {content: "\e3c3";}.mdi-crop_original:before {content: "\e3c4";}.mdi-crop_portrait:before {content: "\e3c5";}.mdi-crop_rotate:before {content: "\e437";}.mdi-crop_square:before {content: "\e3c6";}.mdi-dashboard:before {content: "\e871";}.mdi-data_usage:before {content: "\e1af";}.mdi-date_range:before {content: "\e916";}.mdi-dehaze:before {content: "\e3c7";}.mdi-delete:before {content: "\e872";}.mdi-delete_forever:before {content: "\e92b";}.mdi-delete_sweep:before {content: "\e16c";}.mdi-description:before {content: "\e873";}.mdi-desktop_mac:before {content: "\e30b";}.mdi-desktop_windows:before {content: "\e30c";}.mdi-details:before {content: "\e3c8";}.mdi-developer_board:before {content: "\e30d";}.mdi-developer_mode:before {content: "\e1b0";}.mdi-device_hub:before {content: "\e335";}.mdi-devices:before {content: "\e1b1";}.mdi-devices_other:before {content: "\e337";}.mdi-dialer_sip:before {content: "\e0bb";}.mdi-dialpad:before {content: "\e0bc";}.mdi-directions:before {content: "\e52e";}.mdi-directions_bike:before {content: "\e52f";}.mdi-directions_boat:before {content: "\e532";}.mdi-directions_bus:before {content: "\e530";}.mdi-directions_car:before {content: "\e531";}.mdi-directions_railway:before {content: "\e534";}.mdi-directions_run:before {content: "\e566";}.mdi-directions_subway:before {content: "\e533";}.mdi-directions_transit:before {content: "\e535";}.mdi-directions_walk:before {content: "\e536";}.mdi-disc_full:before {content: "\e610";}.mdi-dns:before {content: "\e875";}.mdi-do_not_disturb:before {content: "\e612";}.mdi-do_not_disturb_alt:before {content: "\e611";}.mdi-do_not_disturb_off:before {content: "\e643";}.mdi-do_not_disturb_on:before {content: "\e644";}.mdi-dock:before {content: "\e30e";}.mdi-domain:before {content: "\e7ee";}.mdi-done:before {content: "\e876";}.mdi-done_all:before {content: "\e877";}.mdi-donut_large:before {content: "\e917";}.mdi-donut_small:before {content: "\e918";}.mdi-drafts:before {content: "\e151";}.mdi-drag_handle:before {content: "\e25d";}.mdi-drive_eta:before {content: "\e613";}.mdi-dvr:before {content: "\e1b2";}.mdi-edit:before {content: "\e3c9";}.mdi-edit_location:before {content: "\e568";}.mdi-eject:before {content: "\e8fb";}.mdi-email:before {content: "\e0be";}.mdi-enhanced_encryption:before {content: "\e63f";}.mdi-equalizer:before {content: "\e01d";}.mdi-error:before {content: "\e000";}.mdi-error_outline:before {content: "\e001";}.mdi-euro_symbol:before {content: "\e926";}.mdi-ev_station:before {content: "\e56d";}.mdi-event:before {content: "\e878";}.mdi-event_available:before {content: "\e614";}.mdi-event_busy:before {content: "\e615";}.mdi-event_note:before {content: "\e616";}.mdi-event_seat:before {content: "\e903";}.mdi-exit_to_app:before {content: "\e879";}.mdi-expand_less:before {content: "\e5ce";}.mdi-expand_more:before {content: "\e5cf";}.mdi-explicit:before {content: "\e01e";}.mdi-explore:before {content: "\e87a";}.mdi-exposure:before {content: "\e3ca";}.mdi-exposure_neg_1:before {content: "\e3cb";}.mdi-exposure_neg_2:before {content: "\e3cc";}.mdi-exposure_plus_1:before {content: "\e3cd";}.mdi-exposure_plus_2:before {content: "\e3ce";}.mdi-exposure_zero:before {content: "\e3cf";}.mdi-extension:before {content: "\e87b";}.mdi-face:before {content: "\e87c";}.mdi-fast_forward:before {content: "\e01f";}.mdi-fast_rewind:before {content: "\e020";}.mdi-favorite:before {content: "\e87d";}.mdi-favorite_border:before {content: "\e87e";}.mdi-featured_play_list:before {content: "\e06d";}.mdi-featured_video:before {content: "\e06e";}.mdi-feedback:before {content: "\e87f";}.mdi-fiber_dvr:before {content: "\e05d";}.mdi-fiber_manual_record:before {content: "\e061";}.mdi-fiber_new:before {content: "\e05e";}.mdi-fiber_pin:before {content: "\e06a";}.mdi-fiber_smart_record:before {content: "\e062";}.mdi-file_download:before {content: "\e2c4";}.mdi-file_upload:before {content: "\e2c6";}.mdi-filter:before {content: "\e3d3";}.mdi-filter_1:before {content: "\e3d0";}.mdi-filter_2:before {content: "\e3d1";}.mdi-filter_3:before {content: "\e3d2";}.mdi-filter_4:before {content: "\e3d4";}.mdi-filter_5:before {content: "\e3d5";}.mdi-filter_6:before {content: "\e3d6";}.mdi-filter_7:before {content: "\e3d7";}.mdi-filter_8:before {content: "\e3d8";}.mdi-filter_9:before {content: "\e3d9";}.mdi-filter_9_plus:before {content: "\e3da";}.mdi-filter_b_and_w:before {content: "\e3db";}.mdi-filter_center_focus:before {content: "\e3dc";}.mdi-filter_drama:before {content: "\e3dd";}.mdi-filter_frames:before {content: "\e3de";}.mdi-filter_hdr:before {content: "\e3df";}.mdi-filter_list:before {content: "\e152";}.mdi-filter_none:before {content: "\e3e0";}.mdi-filter_tilt_shift:before {content: "\e3e2";}.mdi-filter_vintage:before {content: "\e3e3";}.mdi-find_in_page:before {content: "\e880";}.mdi-find_replace:before {content: "\e881";}.mdi-fingerprint:before {content: "\e90d";}.mdi-first_page:before {content: "\e5dc";}.mdi-fitness_center:before {content: "\eb43";}.mdi-flag:before {content: "\e153";}.mdi-flare:before {content: "\e3e4";}.mdi-flash_auto:before {content: "\e3e5";}.mdi-flash_off:before {content: "\e3e6";}.mdi-flash_on:before {content: "\e3e7";}.mdi-flight:before {content: "\e539";}.mdi-flight_land:before {content: "\e904";}.mdi-flight_takeoff:before {content: "\e905";}.mdi-flip:before {content: "\e3e8";}.mdi-flip_to_back:before {content: "\e882";}.mdi-flip_to_front:before {content: "\e883";}.mdi-folder:before {content: "\e2c7";}.mdi-folder_open:before {content: "\e2c8";}.mdi-folder_shared:before {content: "\e2c9";}.mdi-folder_special:before {content: "\e617";}.mdi-font_download:before {content: "\e167";}.mdi-format_align_center:before {content: "\e234";}.mdi-format_align_justify:before {content: "\e235";}.mdi-format_align_left:before {content: "\e236";}.mdi-format_align_right:before {content: "\e237";}.mdi-format_bold:before {content: "\e238";}.mdi-format_clear:before {content: "\e239";}.mdi-format_color_fill:before {content: "\e23a";}.mdi-format_color_reset:before {content: "\e23b";}.mdi-format_color_text:before {content: "\e23c";}.mdi-format_indent_decrease:before {content: "\e23d";}.mdi-format_indent_increase:before {content: "\e23e";}.mdi-format_italic:before {content: "\e23f";}.mdi-format_line_spacing:before {content: "\e240";}.mdi-format_list_bulleted:before {content: "\e241";}.mdi-format_list_numbered:before {content: "\e242";}.mdi-format_paint:before {content: "\e243";}.mdi-format_quote:before {content: "\e244";}.mdi-format_shapes:before {content: "\e25e";}.mdi-format_size:before {content: "\e245";}.mdi-format_strikethrough:before {content: "\e246";}.mdi-format_textdirection_l_to_r:before {content: "\e247";}.mdi-format_textdirection_r_to_l:before {content: "\e248";}.mdi-format_underlined:before {content: "\e249";}.mdi-forum:before {content: "\e0bf";}.mdi-forward:before {content: "\e154";}.mdi-forward_10:before {content: "\e056";}.mdi-forward_30:before {content: "\e057";}.mdi-forward_5:before {content: "\e058";}.mdi-free_breakfast:before {content: "\eb44";}.mdi-fullscreen:before {content: "\e5d0";}.mdi-fullscreen_exit:before {content: "\e5d1";}.mdi-functions:before {content: "\e24a";}.mdi-g_translate:before {content: "\e927";}.mdi-gamepad:before {content: "\e30f";}.mdi-games:before {content: "\e021";}.mdi-gavel:before {content: "\e90e";}.mdi-gesture:before {content: "\e155";}.mdi-get_app:before {content: "\e884";}.mdi-gif:before {content: "\e908";}.mdi-golf_course:before {content: "\eb45";}.mdi-gps_fixed:before {content: "\e1b3";}.mdi-gps_not_fixed:before {content: "\e1b4";}.mdi-gps_off:before {content: "\e1b5";}.mdi-grade:before {content: "\e885";}.mdi-gradient:before {content: "\e3e9";}.mdi-grain:before {content: "\e3ea";}.mdi-graphic_eq:before {content: "\e1b8";}.mdi-grid_off:before {content: "\e3eb";}.mdi-grid_on:before {content: "\e3ec";}.mdi-group:before {content: "\e7ef";}.mdi-group_add:before {content: "\e7f0";}.mdi-group_work:before {content: "\e886";}.mdi-hd:before {content: "\e052";}.mdi-hdr_off:before {content: "\e3ed";}.mdi-hdr_on:before {content: "\e3ee";}.mdi-hdr_strong:before {content: "\e3f1";}.mdi-hdr_weak:before {content: "\e3f2";}.mdi-headset:before {content: "\e310";}.mdi-headset_mic:before {content: "\e311";}.mdi-healing:before {content: "\e3f3";}.mdi-hearing:before {content: "\e023";}.mdi-help:before {content: "\e887";}.mdi-help_outline:before {content: "\e8fd";}.mdi-high_quality:before {content: "\e024";}.mdi-highlight:before {content: "\e25f";}.mdi-highlight_off:before {content: "\e888";}.mdi-history:before {content: "\e889";}.mdi-home:before {content: "\e88a";}.mdi-hot_tub:before {content: "\eb46";}.mdi-hotel:before {content: "\e53a";}.mdi-hourglass_empty:before {content: "\e88b";}.mdi-hourglass_full:before {content: "\e88c";}.mdi-http:before {content: "\e902";}.mdi-https:before {content: "\e88d";}.mdi-image:before {content: "\e3f4";}.mdi-image_aspect_ratio:before {content: "\e3f5";}.mdi-import_contacts:before {content: "\e0e0";}.mdi-import_export:before {content: "\e0c3";}.mdi-important_devices:before {content: "\e912";}.mdi-inbox:before {content: "\e156";}.mdi-indeterminate_check_box:before {content: "\e909";}.mdi-info:before {content: "\e88e";}.mdi-info_outline:before {content: "\e88f";}.mdi-input:before {content: "\e890";}.mdi-insert_chart:before {content: "\e24b";}.mdi-insert_comment:before {content: "\e24c";}.mdi-insert_drive_file:before {content: "\e24d";}.mdi-insert_emoticon:before {content: "\e24e";}.mdi-insert_invitation:before {content: "\e24f";}.mdi-insert_link:before {content: "\e250";}.mdi-insert_photo:before {content: "\e251";}.mdi-invert_colors:before {content: "\e891";}.mdi-invert_colors_off:before {content: "\e0c4";}.mdi-iso:before {content: "\e3f6";}.mdi-keyboard:before {content: "\e312";}.mdi-keyboard_arrow_down:before {content: "\e313";}.mdi-keyboard_arrow_left:before {content: "\e314";}.mdi-keyboard_arrow_right:before {content: "\e315";}.mdi-keyboard_arrow_up:before {content: "\e316";}.mdi-keyboard_backspace:before {content: "\e317";}.mdi-keyboard_capslock:before {content: "\e318";}.mdi-keyboard_hide:before {content: "\e31a";}.mdi-keyboard_return:before {content: "\e31b";}.mdi-keyboard_tab:before {content: "\e31c";}.mdi-keyboard_voice:before {content: "\e31d";}.mdi-kitchen:before {content: "\eb47";}.mdi-label:before {content: "\e892";}.mdi-label_outline:before {content: "\e893";}.mdi-landscape:before {content: "\e3f7";}.mdi-language:before {content: "\e894";}.mdi-laptop:before {content: "\e31e";}.mdi-laptop_chromebook:before {content: "\e31f";}.mdi-laptop_mac:before {content: "\e320";}.mdi-laptop_windows:before {content: "\e321";}.mdi-last_page:before {content: "\e5dd";}.mdi-launch:before {content: "\e895";}.mdi-layers:before {content: "\e53b";}.mdi-layers_clear:before {content: "\e53c";}.mdi-leak_add:before {content: "\e3f8";}.mdi-leak_remove:before {content: "\e3f9";}.mdi-lens:before {content: "\e3fa";}.mdi-library_add:before {content: "\e02e";}.mdi-library_books:before {content: "\e02f";}.mdi-library_music:before {content: "\e030";}.mdi-lightbulb_outline:before {content: "\e90f";}.mdi-line_style:before {content: "\e919";}.mdi-line_weight:before {content: "\e91a";}.mdi-linear_scale:before {content: "\e260";}.mdi-link:before {content: "\e157";}.mdi-linked_camera:before {content: "\e438";}.mdi-list:before {content: "\e896";}.mdi-live_help:before {content: "\e0c6";}.mdi-live_tv:before {content: "\e639";}.mdi-local_activity:before {content: "\e53f";}.mdi-local_airport:before {content: "\e53d";}.mdi-local_atm:before {content: "\e53e";}.mdi-local_bar:before {content: "\e540";}.mdi-local_cafe:before {content: "\e541";}.mdi-local_car_wash:before {content: "\e542";}.mdi-local_convenience_store:before {content: "\e543";}.mdi-local_dining:before {content: "\e556";}.mdi-local_drink:before {content: "\e544";}.mdi-local_florist:before {content: "\e545";}.mdi-local_gas_station:before {content: "\e546";}.mdi-local_grocery_store:before {content: "\e547";}.mdi-local_hospital:before {content: "\e548";}.mdi-local_hotel:before {content: "\e549";}.mdi-local_laundry_service:before {content: "\e54a";}.mdi-local_library:before {content: "\e54b";}.mdi-local_mall:before {content: "\e54c";}.mdi-local_movies:before {content: "\e54d";}.mdi-local_offer:before {content: "\e54e";}.mdi-local_parking:before {content: "\e54f";}.mdi-local_pharmacy:before {content: "\e550";}.mdi-local_phone:before {content: "\e551";}.mdi-local_pizza:before {content: "\e552";}.mdi-local_play:before {content: "\e553";}.mdi-local_post_office:before {content: "\e554";}.mdi-local_printshop:before {content: "\e555";}.mdi-local_see:before {content: "\e557";}.mdi-local_shipping:before {content: "\e558";}.mdi-local_taxi:before {content: "\e559";}.mdi-location_city:before {content: "\e7f1";}.mdi-location_disabled:before {content: "\e1b6";}.mdi-location_off:before {content: "\e0c7";}.mdi-location_on:before {content: "\e0c8";}.mdi-location_searching:before {content: "\e1b7";}.mdi-lock:before {content: "\e897";}.mdi-lock_open:before {content: "\e898";}.mdi-lock_outline:before {content: "\e899";}.mdi-looks:before {content: "\e3fc";}.mdi-looks_3:before {content: "\e3fb";}.mdi-looks_4:before {content: "\e3fd";}.mdi-looks_5:before {content: "\e3fe";}.mdi-looks_6:before {content: "\e3ff";}.mdi-looks_one:before {content: "\e400";}.mdi-looks_two:before {content: "\e401";}.mdi-loop:before {content: "\e028";}.mdi-loupe:before {content: "\e402";}.mdi-low_priority:before {content: "\e16d";}.mdi-loyalty:before {content: "\e89a";}.mdi-mail:before {content: "\e158";}.mdi-mail_outline:before {content: "\e0e1";}.mdi-map:before {content: "\e55b";}.mdi-markunread:before {content: "\e159";}.mdi-markunread_mailbox:before {content: "\e89b";}.mdi-memory:before {content: "\e322";}.mdi-menu:before {content: "\e5d2";}.mdi-merge_type:before {content: "\e252";}.mdi-message:before {content: "\e0c9";}.mdi-mic:before {content: "\e029";}.mdi-mic_none:before {content: "\e02a";}.mdi-mic_off:before {content: "\e02b";}.mdi-mms:before {content: "\e618";}.mdi-mode_comment:before {content: "\e253";}.mdi-mode_edit:before {content: "\e254";}.mdi-monetization_on:before {content: "\e263";}.mdi-money_off:before {content: "\e25c";}.mdi-monochrome_photos:before {content: "\e403";}.mdi-mood:before {content: "\e7f2";}.mdi-mood_bad:before {content: "\e7f3";}.mdi-more:before {content: "\e619";}.mdi-more_horiz:before {content: "\e5d3";}.mdi-more_vert:before {content: "\e5d4";}.mdi-motorcycle:before {content: "\e91b";}.mdi-mouse:before {content: "\e323";}.mdi-move_to_inbox:before {content: "\e168";}.mdi-movie:before {content: "\e02c";}.mdi-movie_creation:before {content: "\e404";}.mdi-movie_filter:before {content: "\e43a";}.mdi-multiline_chart:before {content: "\e6df";}.mdi-music_note:before {content: "\e405";}.mdi-music_video:before {content: "\e063";}.mdi-my_location:before {content: "\e55c";}.mdi-nature:before {content: "\e406";}.mdi-nature_people:before {content: "\e407";}.mdi-navigate_before:before {content: "\e408";}.mdi-navigate_next:before {content: "\e409";}.mdi-navigation:before {content: "\e55d";}.mdi-near_me:before {content: "\e569";}.mdi-network_cell:before {content: "\e1b9";}.mdi-network_check:before {content: "\e640";}.mdi-network_locked:before {content: "\e61a";}.mdi-network_wifi:before {content: "\e1ba";}.mdi-new_releases:before {content: "\e031";}.mdi-next_week:before {content: "\e16a";}.mdi-nfc:before {content: "\e1bb";}.mdi-no_encryption:before {content: "\e641";}.mdi-no_sim:before {content: "\e0cc";}.mdi-not_interested:before {content: "\e033";}.mdi-note:before {content: "\e06f";}.mdi-note_add:before {content: "\e89c";}.mdi-notifications:before {content: "\e7f4";}.mdi-notifications_active:before {content: "\e7f7";}.mdi-notifications_none:before {content: "\e7f5";}.mdi-notifications_off:before {content: "\e7f6";}.mdi-notifications_paused:before {content: "\e7f8";}.mdi-offline_pin:before {content: "\e90a";}.mdi-ondemand_video:before {content: "\e63a";}.mdi-opacity:before {content: "\e91c";}.mdi-open_in_browser:before {content: "\e89d";}.mdi-open_in_new:before {content: "\e89e";}.mdi-open_with:before {content: "\e89f";}.mdi-pages:before {content: "\e7f9";}.mdi-pageview:before {content: "\e8a0";}.mdi-palette:before {content: "\e40a";}.mdi-pan_tool:before {content: "\e925";}.mdi-panorama:before {content: "\e40b";}.mdi-panorama_fish_eye:before {content: "\e40c";}.mdi-panorama_horizontal:before {content: "\e40d";}.mdi-panorama_vertical:before {content: "\e40e";}.mdi-panorama_wide_angle:before {content: "\e40f";}.mdi-party_mode:before {content: "\e7fa";}.mdi-pause:before {content: "\e034";}.mdi-pause_circle_filled:before {content: "\e035";}.mdi-pause_circle_outline:before {content: "\e036";}.mdi-payment:before {content: "\e8a1";}.mdi-people:before {content: "\e7fb";}.mdi-people_outline:before {content: "\e7fc";}.mdi-perm_camera_mic:before {content: "\e8a2";}.mdi-perm_contact_calendar:before {content: "\e8a3";}.mdi-perm_data_setting:before {content: "\e8a4";}.mdi-perm_device_information:before {content: "\e8a5";}.mdi-perm_identity:before {content: "\e8a6";}.mdi-perm_media:before {content: "\e8a7";}.mdi-perm_phone_msg:before {content: "\e8a8";}.mdi-perm_scan_wifi:before {content: "\e8a9";}.mdi-person:before {content: "\e7fd";}.mdi-person_add:before {content: "\e7fe";}.mdi-person_outline:before {content: "\e7ff";}.mdi-person_pin:before {content: "\e55a";}.mdi-person_pin_circle:before {content: "\e56a";}.mdi-personal_video:before {content: "\e63b";}.mdi-pets:before {content: "\e91d";}.mdi-phone:before {content: "\e0cd";}.mdi-phone_android:before {content: "\e324";}.mdi-phone_bluetooth_speaker:before {content: "\e61b";}.mdi-phone_forwarded:before {content: "\e61c";}.mdi-phone_in_talk:before {content: "\e61d";}.mdi-phone_iphone:before {content: "\e325";}.mdi-phone_locked:before {content: "\e61e";}.mdi-phone_missed:before {content: "\e61f";}.mdi-phone_paused:before {content: "\e620";}.mdi-phonelink:before {content: "\e326";}.mdi-phonelink_erase:before {content: "\e0db";}.mdi-phonelink_lock:before {content: "\e0dc";}.mdi-phonelink_off:before {content: "\e327";}.mdi-phonelink_ring:before {content: "\e0dd";}.mdi-phonelink_setup:before {content: "\e0de";}.mdi-photo:before {content: "\e410";}.mdi-photo_album:before {content: "\e411";}.mdi-photo_camera:before {content: "\e412";}.mdi-photo_filter:before {content: "\e43b";}.mdi-photo_library:before {content: "\e413";}.mdi-photo_size_select_actual:before {content: "\e432";}.mdi-photo_size_select_large:before {content: "\e433";}.mdi-photo_size_select_small:before {content: "\e434";}.mdi-picture_as_pdf:before {content: "\e415";}.mdi-picture_in_picture:before {content: "\e8aa";}.mdi-picture_in_picture_alt:before {content: "\e911";}.mdi-pie_chart:before {content: "\e6c4";}.mdi-pie_chart_outlined:before {content: "\e6c5";}.mdi-pin_drop:before {content: "\e55e";}.mdi-place:before {content: "\e55f";}.mdi-play_arrow:before {content: "\e037";}.mdi-play_circle_filled:before {content: "\e038";}.mdi-play_circle_outline:before {content: "\e039";}.mdi-play_for_work:before {content: "\e906";}.mdi-playlist_add:before {content: "\e03b";}.mdi-playlist_add_check:before {content: "\e065";}.mdi-playlist_play:before {content: "\e05f";}.mdi-plus_one:before {content: "\e800";}.mdi-poll:before {content: "\e801";}.mdi-polymer:before {content: "\e8ab";}.mdi-pool:before {content: "\eb48";}.mdi-portable_wifi_off:before {content: "\e0ce";}.mdi-portrait:before {content: "\e416";}.mdi-power:before {content: "\e63c";}.mdi-power_input:before {content: "\e336";}.mdi-power_settings_new:before {content: "\e8ac";}.mdi-pregnant_woman:before {content: "\e91e";}.mdi-present_to_all:before {content: "\e0df";}.mdi-print:before {content: "\e8ad";}.mdi-priority_high:before {content: "\e645";}.mdi-public:before {content: "\e80b";}.mdi-publish:before {content: "\e255";}.mdi-query_builder:before {content: "\e8ae";}.mdi-question_answer:before {content: "\e8af";}.mdi-queue:before {content: "\e03c";}.mdi-queue_music:before {content: "\e03d";}.mdi-queue_play_next:before {content: "\e066";}.mdi-radio:before {content: "\e03e";}.mdi-radio_button_checked:before {content: "\e837";}.mdi-radio_button_unchecked:before {content: "\e836";}.mdi-rate_review:before {content: "\e560";}.mdi-receipt:before {content: "\e8b0";}.mdi-recent_actors:before {content: "\e03f";}.mdi-record_voice_over:before {content: "\e91f";}.mdi-redeem:before {content: "\e8b1";}.mdi-redo:before {content: "\e15a";}.mdi-refresh:before {content: "\e5d5";}.mdi-remove:before {content: "\e15b";}.mdi-remove_circle:before {content: "\e15c";}.mdi-remove_circle_outline:before {content: "\e15d";}.mdi-remove_from_queue:before {content: "\e067";}.mdi-remove_red_eye:before {content: "\e417";}.mdi-remove_shopping_cart:before {content: "\e928";}.mdi-reorder:before {content: "\e8fe";}.mdi-repeat:before {content: "\e040";}.mdi-repeat_one:before {content: "\e041";}.mdi-replay:before {content: "\e042";}.mdi-replay_10:before {content: "\e059";}.mdi-replay_30:before {content: "\e05a";}.mdi-replay_5:before {content: "\e05b";}.mdi-reply:before {content: "\e15e";}.mdi-reply_all:before {content: "\e15f";}.mdi-report:before {content: "\e160";}.mdi-report_problem:before {content: "\e8b2";}.mdi-restaurant:before {content: "\e56c";}.mdi-restaurant_menu:before {content: "\e561";}.mdi-restore:before {content: "\e8b3";}.mdi-restore_page:before {content: "\e929";}.mdi-ring_volume:before {content: "\e0d1";}.mdi-room:before {content: "\e8b4";}.mdi-room_service:before {content: "\eb49";}.mdi-rotate_90_degrees_ccw:before {content: "\e418";}.mdi-rotate_left:before {content: "\e419";}.mdi-rotate_right:before {content: "\e41a";}.mdi-rounded_corner:before {content: "\e920";}.mdi-router:before {content: "\e328";}.mdi-rowing:before {content: "\e921";}.mdi-rss_feed:before {content: "\e0e5";}.mdi-rv_hookup:before {content: "\e642";}.mdi-satellite:before {content: "\e562";}.mdi-save:before {content: "\e161";}.mdi-scanner:before {content: "\e329";}.mdi-schedule:before {content: "\e8b5";}.mdi-school:before {content: "\e80c";}.mdi-screen_lock_landscape:before {content: "\e1be";}.mdi-screen_lock_portrait:before {content: "\e1bf";}.mdi-screen_lock_rotation:before {content: "\e1c0";}.mdi-screen_rotation:before {content: "\e1c1";}.mdi-screen_share:before {content: "\e0e2";}.mdi-sd_card:before {content: "\e623";}.mdi-sd_storage:before {content: "\e1c2";}.mdi-search:before {content: "\e8b6";}.mdi-security:before {content: "\e32a";}.mdi-select_all:before {content: "\e162";}.mdi-send:before {content: "\e163";}.mdi-sentiment_dissatisfied:before {content: "\e811";}.mdi-sentiment_neutral:before {content: "\e812";}.mdi-sentiment_satisfied:before {content: "\e813";}.mdi-sentiment_very_dissatisfied:before {content: "\e814";}.mdi-sentiment_very_satisfied:before {content: "\e815";}.mdi-settings:before {content: "\e8b8";}.mdi-settings_applications:before {content: "\e8b9";}.mdi-settings_backup_restore:before {content: "\e8ba";}.mdi-settings_bluetooth:before {content: "\e8bb";}.mdi-settings_brightness:before {content: "\e8bd";}.mdi-settings_cell:before {content: "\e8bc";}.mdi-settings_ethernet:before {content: "\e8be";}.mdi-settings_input_antenna:before {content: "\e8bf";}.mdi-settings_input_component:before {content: "\e8c0";}.mdi-settings_input_composite:before {content: "\e8c1";}.mdi-settings_input_hdmi:before {content: "\e8c2";}.mdi-settings_input_svideo:before {content: "\e8c3";}.mdi-settings_overscan:before {content: "\e8c4";}.mdi-settings_phone:before {content: "\e8c5";}.mdi-settings_power:before {content: "\e8c6";}.mdi-settings_remote:before {content: "\e8c7";}.mdi-settings_system_daydream:before {content: "\e1c3";}.mdi-settings_voice:before {content: "\e8c8";}.mdi-share:before {content: "\e80d";}.mdi-shop:before {content: "\e8c9";}.mdi-shop_two:before {content: "\e8ca";}.mdi-shopping_basket:before {content: "\e8cb";}.mdi-shopping_cart:before {content: "\e8cc";}.mdi-short_text:before {content: "\e261";}.mdi-show_chart:before {content: "\e6e1";}.mdi-shuffle:before {content: "\e043";}.mdi-signal_cellular_4_bar:before {content: "\e1c8";}.mdi-signal_cellular_connected_no_internet_4_bar:before {content: "\e1cd";}.mdi-signal_cellular_no_sim:before {content: "\e1ce";}.mdi-signal_cellular_null:before {content: "\e1cf";}.mdi-signal_cellular_off:before {content: "\e1d0";}.mdi-signal_wifi_4_bar:before {content: "\e1d8";}.mdi-signal_wifi_4_bar_lock:before {content: "\e1d9";}.mdi-signal_wifi_off:before {content: "\e1da";}.mdi-sim_card:before {content: "\e32b";}.mdi-sim_card_alert:before {content: "\e624";}.mdi-skip_next:before {content: "\e044";}.mdi-skip_previous:before {content: "\e045";}.mdi-slideshow:before {content: "\e41b";}.mdi-slow_motion_video:before {content: "\e068";}.mdi-smartphone:before {content: "\e32c";}.mdi-smoke_free:before {content: "\eb4a";}.mdi-smoking_rooms:before {content: "\eb4b";}.mdi-sms:before {content: "\e625";}.mdi-sms_failed:before {content: "\e626";}.mdi-snooze:before {content: "\e046";}.mdi-sort:before {content: "\e164";}.mdi-sort_by_alpha:before {content: "\e053";}.mdi-spa:before {content: "\eb4c";}.mdi-space_bar:before {content: "\e256";}.mdi-speaker:before {content: "\e32d";}.mdi-speaker_group:before {content: "\e32e";}.mdi-speaker_notes:before {content: "\e8cd";}.mdi-speaker_notes_off:before {content: "\e92a";}.mdi-speaker_phone:before {content: "\e0d2";}.mdi-spellcheck:before {content: "\e8ce";}.mdi-star:before {content: "\e838";}.mdi-star_border:before {content: "\e83a";}.mdi-star_half:before {content: "\e839";}.mdi-stars:before {content: "\e8d0";}.mdi-stay_current_landscape:before {content: "\e0d3";}.mdi-stay_current_portrait:before {content: "\e0d4";}.mdi-stay_primary_landscape:before {content: "\e0d5";}.mdi-stay_primary_portrait:before {content: "\e0d6";}.mdi-stop:before {content: "\e047";}.mdi-stop_screen_share:before {content: "\e0e3";}.mdi-storage:before {content: "\e1db";}.mdi-store:before {content: "\e8d1";}.mdi-store_mall_directory:before {content: "\e563";}.mdi-straighten:before {content: "\e41c";}.mdi-streetview:before {content: "\e56e";}.mdi-strikethrough_s:before {content: "\e257";}.mdi-style:before {content: "\e41d";}.mdi-subdirectory_arrow_left:before {content: "\e5d9";}.mdi-subdirectory_arrow_right:before {content: "\e5da";}.mdi-subject:before {content: "\e8d2";}.mdi-subscriptions:before {content: "\e064";}.mdi-subtitles:before {content: "\e048";}.mdi-subway:before {content: "\e56f";}.mdi-supervisor_account:before {content: "\e8d3";}.mdi-surround_sound:before {content: "\e049";}.mdi-swap_calls:before {content: "\e0d7";}.mdi-swap_horiz:before {content: "\e8d4";}.mdi-swap_vert:before {content: "\e8d5";}.mdi-swap_vertical_circle:before {content: "\e8d6";}.mdi-switch_camera:before {content: "\e41e";}.mdi-switch_video:before {content: "\e41f";}.mdi-sync:before {content: "\e627";}.mdi-sync_disabled:before {content: "\e628";}.mdi-sync_problem:before {content: "\e629";}.mdi-system_update:before {content: "\e62a";}.mdi-system_update_alt:before {content: "\e8d7";}.mdi-tab:before {content: "\e8d8";}.mdi-tab_unselected:before {content: "\e8d9";}.mdi-tablet:before {content: "\e32f";}.mdi-tablet_android:before {content: "\e330";}.mdi-tablet_mac:before {content: "\e331";}.mdi-tag_faces:before {content: "\e420";}.mdi-tap_and_play:before {content: "\e62b";}.mdi-terrain:before {content: "\e564";}.mdi-text_fields:before {content: "\e262";}.mdi-text_format:before {content: "\e165";}.mdi-textsms:before {content: "\e0d8";}.mdi-texture:before {content: "\e421";}.mdi-theaters:before {content: "\e8da";}.mdi-thumb_down:before {content: "\e8db";}.mdi-thumb_up:before {content: "\e8dc";}.mdi-thumbs_up_down:before {content: "\e8dd";}.mdi-time_to_leave:before {content: "\e62c";}.mdi-timelapse:before {content: "\e422";}.mdi-timeline:before {content: "\e922";}.mdi-timer:before {content: "\e425";}.mdi-timer_10:before {content: "\e423";}.mdi-timer_3:before {content: "\e424";}.mdi-timer_off:before {content: "\e426";}.mdi-title:before {content: "\e264";}.mdi-toc:before {content: "\e8de";}.mdi-today:before {content: "\e8df";}.mdi-toll:before {content: "\e8e0";}.mdi-tonality:before {content: "\e427";}.mdi-touch_app:before {content: "\e913";}.mdi-toys:before {content: "\e332";}.mdi-track_changes:before {content: "\e8e1";}.mdi-traffic:before {content: "\e565";}.mdi-train:before {content: "\e570";}.mdi-tram:before {content: "\e571";}.mdi-transfer_within_a_station:before {content: "\e572";}.mdi-transform:before {content: "\e428";}.mdi-translate:before {content: "\e8e2";}.mdi-trending_down:before {content: "\e8e3";}.mdi-trending_flat:before {content: "\e8e4";}.mdi-trending_up:before {content: "\e8e5";}.mdi-tune:before {content: "\e429";}.mdi-turned_in:before {content: "\e8e6";}.mdi-turned_in_not:before {content: "\e8e7";}.mdi-tv:before {content: "\e333";}.mdi-unarchive:before {content: "\e169";}.mdi-undo:before {content: "\e166";}.mdi-unfold_less:before {content: "\e5d6";}.mdi-unfold_more:before {content: "\e5d7";}.mdi-update:before {content: "\e923";}.mdi-usb:before {content: "\e1e0";}.mdi-verified_user:before {content: "\e8e8";}.mdi-vertical_align_bottom:before {content: "\e258";}.mdi-vertical_align_center:before {content: "\e259";}.mdi-vertical_align_top:before {content: "\e25a";}.mdi-vibration:before {content: "\e62d";}.mdi-video_call:before {content: "\e070";}.mdi-video_label:before {content: "\e071";}.mdi-video_library:before {content: "\e04a";}.mdi-videocam:before {content: "\e04b";}.mdi-videocam_off:before {content: "\e04c";}.mdi-videogame_asset:before {content: "\e338";}.mdi-view_agenda:before {content: "\e8e9";}.mdi-view_array:before {content: "\e8ea";}.mdi-view_carousel:before {content: "\e8eb";}.mdi-view_column:before {content: "\e8ec";}.mdi-view_comfy:before {content: "\e42a";}.mdi-view_compact:before {content: "\e42b";}.mdi-view_day:before {content: "\e8ed";}.mdi-view_headline:before {content: "\e8ee";}.mdi-view_list:before {content: "\e8ef";}.mdi-view_module:before {content: "\e8f0";}.mdi-view_quilt:before {content: "\e8f1";}.mdi-view_stream:before {content: "\e8f2";}.mdi-view_week:before {content: "\e8f3";}.mdi-vignette:before {content: "\e435";}.mdi-visibility:before {content: "\e8f4";}.mdi-visibility_off:before {content: "\e8f5";}.mdi-voice_chat:before {content: "\e62e";}.mdi-voicemail:before {content: "\e0d9";}.mdi-volume_down:before {content: "\e04d";}.mdi-volume_mute:before {content: "\e04e";}.mdi-volume_off:before {content: "\e04f";}.mdi-volume_up:before {content: "\e050";}.mdi-vpn_key:before {content: "\e0da";}.mdi-vpn_lock:before {content: "\e62f";}.mdi-wallpaper:before {content: "\e1bc";}.mdi-warning:before {content: "\e002";}.mdi-watch:before {content: "\e334";}.mdi-watch_later:before {content: "\e924";}.mdi-wb_auto:before {content: "\e42c";}.mdi-wb_cloudy:before {content: "\e42d";}.mdi-wb_incandescent:before {content: "\e42e";}.mdi-wb_iridescent:before {content: "\e436";}.mdi-wb_sunny:before {content: "\e430";}.mdi-wc:before {content: "\e63d";}.mdi-web:before {content: "\e051";}.mdi-web_asset:before {content: "\e069";}.mdi-weekend:before {content: "\e16b";}.mdi-whatshot:before {content: "\e80e";}.mdi-widgets:before {content: "\e1bd";}.mdi-wifi:before {content: "\e63e";}.mdi-wifi_lock:before {content: "\e1e1";}.mdi-wifi_tethering:before {content: "\e1e2";}.mdi-work:before {content: "\e8f9";}.mdi-wrap_text:before {content: "\e25b";}.mdi-youtube_searched_for:before {content: "\e8fa";}.mdi-zoom_in:before {content: "\e8ff";}.mdi-zoom_out:before {content: "\e900";}.mdi-zoom_out_map:before {content: "\e56b";}