/**
 * responsive.css
 *
 * Contains media queries and styles for various device widths.
 */

#page {
	width: 100%;
	min-width: 340px;
	max-width: 1220px; /* 40 + 940 + 40 */
}

.is-boxed #page {
	overflow: hidden;
}

.container {
	width: 96.273%;
	max-width: 1140px;
}

.nav-enabled .container {
	min-width: 340px;
}

@media only screen and (min-width: 1240px) {

	/**
	 * Make parallax background stretch outside container edges
	 */

	.is-stretched #main.col-md-12 .section {
		margin: 0 -100%;
	}

	.is-stretched #main.col-md-12 .section .container {
		max-width: 33.3333%;
		padding: 0;
	}
}


@media only screen and (max-width: 959px) {

	#utility-top,
	#utility-links,
	#callout-bar-right {
		text-align: center;
	}

	#callout-bar-left {
		display: none;
	}

	.utility-nav {
		margin: 0 -20px;
	}

	.hero-area .page-title {
		font-size: 34px;
		line-height: 1.17647;
		padding: 48px 0;
	}

	#footer .col-sm-6 {
		margin-bottom: 0;
		text-align: center;
	}

	.header-widget-area {
		float: none;
		width: 100%;
	}

	.brand,
	.site-header.full-width .header-main .brand {
		float: left;
		width: 100%;
		padding-left: 72px;
	}

	.perpage-main-nav-disabled .brand {
		float: none;
		padding-left: 20px;
	}

	.site-header.normal .brand {
		margin-bottom: 0;
	}

	.menu-area,
	.site-header.normal .menu-area {
		clear: none;
		float: right;
		width: 50%;
	}

	.perpage-main-nav-disabled .menu-area,
	.perpage-main-nav-disabled .site-header.normal .menu-area,
	.perpage-main-nav-disabled .header-callout-text {
		float: none;
		width: 100%;
		text-align: inherit;
	}

	.brand.text-center {
		text-align: left;
	}

	.site-description {
		display: none;
	}

	/* Archive Grids */
	.entry-grid,
	.first-grid,
	.entry-grid.ss-col-2:nth-of-type(2n+1),
	.entry-grid.ss-col-3:nth-of-type(3n+1) {
		clear: none;
	}

	.entry-grid:nth-of-type(2n+3) {
		clear: both;
	}


	/* Responsive menu */
	body.show-nav #resp-menu {
		left: 0;
	}

	body.show-nav .resp-menu-mask,
	body.show-shop-sb .shop-sb-mask {
		opacity:1;
		visibility:visible;
	}

	.header-menu-icon {
		display: inline-block;
	}

	.perpage-main-nav-disabled .header-menu-icon {
		display: none;
	}

	#main-nav {
		display: none;
	}

	.main-sidebar {
		position: relative;
		margin: 0 -20px;
		padding-top: 24px;
	}

	.main-sidebar > .widget {
		float: left;
		width: 33.3%;
		padding: 0 20px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.main-sidebar > .widget:nth-of-type(3n+4) {
		clear: both;
	}



	.wcol-3:nth-child(3n+4),
	.wcol-4:nth-child(4n+5),
	.wcol-6:nth-child(6n+7) {
		clear: none;
	}

	.wcol-3:nth-child(2n+3),
	.wcol-4:nth-child(2n+3),
	.wcol-6:nth-child(2n+3) {
		clear: both;
	}

}

@media only screen and (max-width: 839px) {

	.mobile-heading.text-xxl {
		font-size: 56px;
		line-height: 60px;
	}

	.mobile-heading.text-xl {
		font-size: 45px;
		line-height: 52px;
	}

	.mobile-heading.text-l {
		font-size: 34px;
		line-height: 1.1765;
	}

	#utility-top .container,
	#woo-sidebar-actions .container {
		padding: 0 16px;
	}

	.single .entry-title {
		font-size: 34px;
		line-height: 1.1765;
		margin-bottom: 24px;
	}

	.single-product .entry-title {
		margin-bottom: 16px;
	}

	.hero-area .page-title,
	#main,
	#sidebar,
	.secondary,
	#footer {
		padding: 0 16px;
	}

	body.sidebar-left #sidebar,
	body.sidebar-left #main.content-left {
		float: none;
	}

	.header-main.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.header-menu-icon {
		left: 0;
	}

	.header-icons {
		right: 16px;
	}

	.search-panel {
		padding: 0 16px;
	}

	.hero-area .page-title {
		font-size: 24px;
		line-height: 1.5;
		padding: 24px 16px
	}

	.absolute-center {
		padding: 0 16px;
	}

	.container {
		width: 100%;
	}

	.container.top-widget-area {
		width: 96.273%;
	}

	.site-header .row {
		float: none;
		margin: 0;
	}

	.content-row {
		margin: 0;
	}

	.main-sidebar > .widget {
		width: 50%;
	}

	.main-sidebar > .widget:nth-of-type(3n+4) {
		clear: none;
	}

	.main-sidebar > .widget:nth-of-type(2n+3) {
		clear: both;
	}

	.wcol-6:nth-child(3n+4) {
		clear: none;
	}

	.wcol-6:nth-child(2n+3) {
		clear: both;
	}

	.col-xs-6.text-right,
	.col-md-3.text-right,
	.col-md-7.text-right,
	.col-md-8.text-right,
	.col-sm-8.text-right,
	.col-md-9.text-right {
		text-align: inherit;
	}


	.entry-list h2 {
		font-size: 24px;
		line-height: 1.33334;
		margin-bottom: 8px;
	}

	.entry-list .post-thumb {
		width: 96px;
	}

	.entry-list .entry-content:not(.no-thumbnail) {
		margin: 0 0 0 120px;
	}

	.entry-list .post-excerpt {
		height: 48px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 16px;
	}

	.entry-list .entry-meta {
		margin-bottom: 16px;
	}

	.entry-list:not(:last-child) .entry-content:after {
		margin: 0 0 32px;
		padding: 8px 0 0;
	}

	.related-content,
	.related-actions {
		padding: 20px 24px;
	}


	/* WooCommerce styles */

	.col2-set .col-1,
	.col2-set .col-2,
	.form-row-first,
	.form-row-last,
	.woocommerce .type-product .images,
	.woocommerce .type-product .entry-summary,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce #reviews #comments,
	.woocommerce #reviews #review_form_wrapper {
		float: none;
		width: 100%;
	}

	.woocommerce .type-product .images {
		margin-bottom: 24px;
	}

	.woocommerce .cart-collaterals .cart_totals {
		margin-top: 24px;
	}

	.woocommerce .cart-collaterals {
		margin-bottom: 0;
	}

	.col2-set .col-1,
	.col2-set .col-2 {
		margin-bottom: 16px;
	}

}

@media only screen and (max-width: 620px) {

	.mobile-heading.text-xxl {
		font-size: 34px;
		line-height: 40px;
	}

	.mobile-heading.text-xl,
	.mobile-heading.text-l {
		font-size: 24px;
		line-height: 32px;
	}

	.related-item {
		float: none;
		width: 100%;
		margin-bottom: 24px;
	}

	#footer .ss-col.text-right {
		text-align: left;
	}

	.mobile-heading {
		font-size: 24px;
		line-height: 32px;
	}

	.hide-on-mobile {
		display: none;
	}

	.help-block {
		font-size: 12px;
		line-height: 1.6666;
	}

	.related-inner {
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {

	body.sidebar-left #main,
	#main.content-right {
		float: none;
	}

	.header-main .row {
		height: 56px;
	}

	.perpage-main-nav-disabled .header-main .row {
		height: auto;
	}

	.site-title {
		padding: 12px 0;
	}

	.site-header .menu-area {
		padding: 0 16px;
	}

	.site-title img {
		padding: 6px 0 0 0;
	}

	.header-menu-icon {
		bottom: 0;
	}

	.header-search-widget {
		display: none;
	}

	.header-search-widget .search-trigger,
	.header-wishlist-count .wishlist-button,
	.cart-contents-2 {
		padding: 16px 12px;
	}

	.header-wishlist-count {
		display: none;
	}

	.text-center .header-icons {
		text-align: center;
	}

	.search-overlay {
		top: 4px;
	}

	.search-panel .search-field {
		font-size: 18px;
		line-height: 2.22223;
		line-height: 40px;
		height: 56px;
	}

	.search-panel .woocommerce-product-search:before {
		top: 16px;
	}

	.search-panel .search-close {
		top: 4px;
	}

	#sidebar .widget {
		width: 100%;
		float: none;
		clear: both;
	}

	.entry-list .post-thumb {
		width: 64px;
	}

	.entry-list .entry-content:not(.no-thumbnail) {
		margin: 0 0 0 80px;
	}

	.comment-form-author,
	.comment-form-email {
		float: none;
		width: 100%;
	}

	/* WooCommerce styles */
	.woocommerce table.cart td.actions {
		text-align: inherit;
	}

	.woocommerce .shop_table .actions .input-text {
		width: 48%;
	}

	.woocommerce table.cart .product-thumbnail {
		display: none;
	}

	.woocommerce table.cart td.actions .coupon {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.hide-on-mobile {
		display: none !important;
	}

}
