/**
 * rtl-responsive.css
 */

@media only screen and (max-width: 959px) {
	.brand,
	.site-header.full-width .header-main .brand {
		float: right;
		padding-left: 20px;
		padding-right: 72px;
	}

	.perpage-main-nav-disabled .brand {
		padding-right: 20px;
	}

	.menu-area,
	.site-header.normal .menu-area {
		float: left;
	}

	.brand.text-center {
		text-align: right;
	}

	/* Responsive menu */
	body.show-nav #resp-menu {
		left: auto;
		right: 0;
	}

	.main-sidebar > .widget {
		float: right;
	}
}

@media only screen and (max-width: 839px) {

	.header-menu-icon {
		left: auto;
		right: 0;
	}

	.header-icons {
		right: auto;
		left: 16px;
	}

	.entry-list .entry-content:not(.no-thumbnail) {
		margin: 0 120px 0 0;
	}

}

@media only screen and (max-width: 620px) {

	#footer .ss-col.text-right {
		text-align: right;
	}

}

@media only screen and (max-width: 479px) {

	.entry-list .entry-content:not(.no-thumbnail) {
		margin: 0 80px 0 0;
	}

}