/**
 * WooCommerce custom styles
 */

.woocommerce .site-title.logo-image {
    padding: 10px 0;
}

.col2-set,
.checkout_coupon,
.woocommerce .cart-collaterals,
.woocommerce #reviews {
    position: relative;
    margin: 0 -20px 48px;
}

.woocommerce #customer_login h2 {
    font-size: 24px;
    line-height: 1.33334;
    margin-bottom: 32px;
}

.woocommerce #reviews {
    margin-bottom: 8px;
}

.col2-set:after {
    content: "";
    display: table;
    clear: both;
}

.col2-set .col-1,
.col2-set .col-2,
.form-row-first,
.form-row-last,
.woocommerce .type-product .images,
.woocommerce .type-product .entry-summary,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce #reviews #comments,
.woocommerce #reviews #review_form_wrapper {
    float: left;
    width: 50%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #reviews #review_form_wrapper .comment-respond {
    margin-bottom: 0;
}

.woocommerce .type-product .entry-summary {
    float: right;
}

.woocommerce .cart-collaterals .cart_totals {
    float: right;
    text-align: right;
}

.col2-set .col-1:after,
.col2-set .col-2:after {
    content: "";
    display: table;
    clear: both;
}

#main > div.type-product {
    position: relative;
    margin: 0 -20px;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
#yith-wcwl-popup-message {
    width: 100%;
    min-width: 208px;
    margin: 0 0 40px;
    padding: 12px 24px;
    color: #4595e5;
    background: #fff;
    list-style-position: inside;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-top-color: #4595e5;
}

.woocommerce-message:before {
    color: #4595e5;
    margin-left: -10px;
}

#yith-wcwl-popup-message {
    position: fixed;
    display: block;
    min-width: 0;
    height: 48px;
    margin: 0;
    padding: 12px 24px;
    background: #323232;
    border: none;
    line-height: 24px;
    text-align: inherit;
    top: 50%;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.woocommerce-error:after,
.woocommerce-info:after,
.woocommerce-message:after {
    content: "";
    display: table;
    clear: both;
}

.woocommerce small.note {
    display: block;
    color: #757575;
    font-size: 12px;
    line-height: 24px;
    margin-top: 12px;
}

.woocommerce-breadcrumb:after,
.woocommerce-breadcrumb:before {
    content: " ";
    display: table
}

.woocommerce-breadcrumb:after {
    clear: both
}

.woocommerce #content .type-product .price {
    display: block;
}

.woocommerce #content .type-product .product-info .price {
    clear: both;
}

.woocommerce .summary .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    color: inherit;
}

.woocommerce .summary .price, .woocommerce div.product p.price .uvpFlag {
    display: block;
    font-size: 12px;
    color: #cc0000;
    line-height: 12px;
}

.single_variation_wrap .woocommerce-variation-price {
    display: none;
}

.single-product .price del,
.woocommerce .products .type-product .price del,
.woocommerce .products .type-product .price .from {
    color: #cc0000 !important;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    opacity: 1.0;
}

.woocommerce .price ins {
    background: inherit;
}

.woocommerce #content .type-product .stock {
    color: #757575;
    margin: 0 0 24px;
}

.woocommerce #content .type-product .out-of-stock {
    color: #cc0000;
    margin: 0;
}

.woocommerce #content .type-product .images,
.woocommerce-page #content div.product div.images {
    position: relative;
    margin-bottom: 64px;
    text-align: center;
    width: 52%;
}

.woocommerce #content .type-product .images a {
    display: block;
}

.woocommerce #content .type-product .images .thumbnails a {
    display: inline-block;
}

.woocommerce #content .type-product .images img {
    border-top: 2px solid transparent;
    margin: 0 auto;
    vertical-align: top;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.woocommerce #content .type-product .images img:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    border-top: 2px solid #4595e5;
}

.woocommerce #content .type-product .images .thumbnails {
    padding-top: 8px;
    margin: 0 -4px 24px;
    text-align: center;
}

.woocommerce .type-product .thumbnails a {
    width: auto;
    max-width: 17%;
    background: none !important;
    display: inline-block;
    padding: 0;
    margin: 0 4px 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #content .type-product .summary {
    margin-bottom: 48px;
}

.woocommerce #content .type-product .social {
    text-align: right;
    margin: 0 0 12px;
}

.woocommerce #content .type-product .social span {
    margin: 0 0 0 4px;
}

.woocommerce .woocommerce-tabs,
.woocommerce .upsells.products,
.woocommerce .related.products {
    clear: both;
    padding: 0 20px;
    margin: 0 0 40px;
}

.woocommerce .woocommerce-tabs {
    margin: 0;
}

.woocommerce #content .type-product .woocommerce-tabs .panel h2 {
    display: none;
}

.woocommerce .related.products h2 {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: normal;
}

.woocommerce .related.products:before {
    content: "";
    display: block;
    margin-bottom: 48px;
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.woocommerce #content .type-product .woocommerce-tabs .tabs {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 48px;
    overflow-y: hidden;
    overflow-x: auto;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.woocommerce #content .type-product .woocommerce-tabs .tabs:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.woocommerce #content .type-product .woocommerce-tabs .tabs li {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.7142857;
    border: none;
    background: none;
}

.woocommerce #content .type-product .woocommerce-tabs .tabs li:before,
.woocommerce #content .type-product .woocommerce-tabs .tabs li:after {
    content: none;
}

.woocommerce #content .type-product .woocommerce-tabs .tabs li a {
    display: inline-block;
    padding: 12px 16px 10px;
    color: #757575;
    font-size: 14px;
    line-height: 1.7142857;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .25px;
    border-bottom: 2px solid transparent;
}

.woocommerce #content .type-product .woocommerce-tabs .tabs li a:hover {
    color: #424242;
    border-bottom-color: #e0e0e0;
}

.woocommerce #content .type-product .woocommerce-tabs .tabs li.active a {
    color: #424242;
    border-bottom-color: #4595e5;
}

.woocommerce #content .type-product .woocommerce-tabs .panel {
    margin: 0;
    padding: 40px 0 24px;
    border: none;
}

.woocommerce #content .type-product p.cart {
    margin-bottom: 24px;
}

.woocommerce #content .type-product p.cart:after,
.woocommerce #content .type-product .cart:after {
    content: "";
    display: table;
    clear: both;
}

.woocommerce #content .type-product .cart {
    margin-bottom: 24px;
}

.woocommerce #content .type-product .cart .quantity {
    float: left;
    margin: 0 8px 0 0;
}

.woocommerce #content .type-product .cart table {
    border-width: 0 0 1px;
}

.woocommerce #content .type-product .cart table td {
    padding-left: 0;
}

.woocommerce #content .type-product .cart table .quantity {
    float: none;
    margin: 0;
}

.woocommerce #content .type-product .cart table .stock {
    display: block;
    float: none;
}

.woocommerce #content .type-product .cart .variations {
    margin-bottom: 0;
    border: none;
}

.woocommerce .type-product .single_variation_wrap {
    padding-top: 24px;
}

.variations {
    border: none;
    margin-bottom: 0;
}

.variations td,
.variations th {
    border: none;
    padding: 4px 0;
}

.reset_variations {
    display: inline-block;
    text-indent: -9999px;
    width: 0;
}

.reset_variations:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: block;
    width: 72px;
    height: 24px;
    line-height: 1;
    line-height: 24px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    text-indent: 0;
    margin-top: -16px;

    color: #9e9e9e;

    content: "\e5cd";
}

.reset_variations:hover:after {
    color: #424242;
}

.woocommerce #content .type-product .cart .variations label {
    font-weight: 600;
}

.woocommerce #content .type-product .cart .variations select {
    width: auto;
    float: left;
}

.woocommerce #content .type-product .cart .variations td.label {
    padding-right: 8px;
}

.woocommerce #content .type-product .cart .variations td {
    vertical-align: middle;
}

.woocommerce #content .type-product .cart .button {
    vertical-align: middle;
    float: left;
    margin: 6px 4px 6px 0;
    border: 0;
    color: #fff;
    background: #cc0000;
    text-align: center;
    padding: 6px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    height: 36px;
}

.woocommerce #content .type-product .cart .group_table td.label {
    padding-right: 8px;
    padding-left: 8px;
}

.woocommerce #content .type-product .cart .group_table td {
    vertical-align: top;
    padding-bottom: 4px;
}

.woocommerce .type-product .onsale {
    position: absolute;
    top: 16px;
    left: 36px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 2.4;
    line-height: 20px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    background: #4595e5;
    color: #fff;
    z-index: 15;
    text-decoration: none;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    border-radius: 0;
    min-height: inherit;
    min-width: inherit;
}

.woocommerce .products ul,
.woocommerce .products {
    position: relative;
    margin: 0 -12px;
    padding: 0;
    list-style: none;
    clear: both;
}

.woocommerce .products:after {
    content: "";
    clear: both;
    display: table;
}

.product-carousel .woocommerce .products {
    margin: 0;
}

.product-carousel .owl-item.active {
    opacity: 1;
}

.woocommerce .products ul:after,
.woocommerce .products ul:before {
    content: "";
    display: table;
}

.woocommerce .products ul:after,
.woocommerce .products:after {
    clear: both;
}

.woocommerce .products ul li,
.woocommerce .products li,
.woocommerce .products .product,
.woocommerce .products .type-product {
    list-style: none;
    margin-bottom: 24px;
    padding: 0 12px;
}

.woocommerce .products .product {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce.columns-2 > .products > .product {
    width: 50%;
}

.woocommerce.columns-3 > .products > .product {
    width: 33.33%;
}

.woocommerce.columns-4 > .products > .product {
    width: 25%;
}

.woocommerce.columns-5 > .products > .product {
    width: 20%;
}

.woocommerce .products .owl-item .type-product {
    margin-bottom: 0;
}

.woocommerce .products .product-category {
    margin-bottom: 24px;
}

@media (min-width: 960px) {

    .woocommerce .products ul li.first,
    .woocommerce .products li.first
/*    .woocommerce .products .type-product.first */{
        clear: both;
    }

}

@media (min-width: 720px) and (max-width: 960px) {

    /*.woocommerce .products.column-2 .product,*/
    .woocommerce .products.column-3 .product,
    .woocommerce .products.column-4 .product,
    .woocommerce.columns-3 > .products > .product,
    .woocommerce.columns-4 > .products > .product,
    .woocommerce.columns-5 > .products > .product {
        clear: none;
        width: 33.33%;
    }

    .woocommerce .products.column-3 .product:nth-child(3n+4),
    .woocommerce .products.column-4 .product:nth-child(3n+4),
    .woocommerce.columns-3 > .products > .product:nth-child(3n+4),
    .woocommerce.columns-4 > .products > .product:nth-child(3n+4),
    .woocommerce.columns-5 > .products > .product:nth-child(3n+4) {
        clear: both;
    }

    .woocommerce .products .owl-item .type-product,
    .woocommerce .products.column-3 .owl-item .product,
    .woocommerce .products.column-4 .owl-item .product,
    .woocommerce.columns-3 > .products > .owl-item .product,
    .woocommerce.columns-4 > .products > .owl-item .product,
    .woocommerce.columns-5 > .products > .owl-item .product {
        width: auto;
    }

}

@media (max-width: 769px) {
    .woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {
        float: none;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 719px) {

    .woocommerce .products.column-2 .product,
    .woocommerce .products.column-3 .product,
    .woocommerce .products.column-4 .product,
    .woocommerce.columns-3 > .products > .product,
    .woocommerce.columns-4 > .products > .product,
    .woocommerce.columns-5 > .products > .product {
        clear: none;
        width: 50%;
    }

    .woocommerce .products.column-3 .product:nth-child(2n+3),
    .woocommerce .products.column-4 .product:nth-child(2n+3),
    .woocommerce.columns-3 .product:nth-child(2n+3),
    .woocommerce.columns-4 .product:nth-child(2n+3),
    .woocommerce.columns-5 .product:nth-child(2n+3) {
        clear: both;
    }

    .woocommerce .products .owl-item .type-product,
    .product-carousel .owl-loaded .product,
    .product-carousel .owl-loaded .product-category {
        width: 100% !important;
    }
}

@media (max-width: 479px) {

    .woocommerce .products.column-2 .product,
    .woocommerce .products.column-3 .product,
    .woocommerce .products.column-4 .product,
    .woocommerce.columns-3 .product,
    .woocommerce.columns-4 .product,
    .woocommerce.columns-5 .product {
        clear: both;
        width: 100%;
    }

    .woocommerce .products .owl-item .type-product,
    .product-carousel .owl-loaded .product,
    .product-carousel .owl-loaded .product-category {
        width: 100% !important;
    }
}

.owl-item .product {
    padding: 0 !important;
}

.woocommerce .product-wrap {
    position: relative;
    background: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);

    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
}

.woocommerce .product-wrap:after {
    content: "";
    clear: both;
    display: table;
}

.woocommerce .product-wrap:hover {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
}

.woocommerce .product-wrap img {
    display: block;
}

.woocommerce .products .type-product .product-info {
    float: left;
    padding: 16px;
    max-width: 75%;
}

.woocommerce .products .product-category .product-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 108px 16px 12px;
    color: #fff;

    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, .4));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, .4));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, .4));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, .4));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, .4));

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce .products .product-category .product-info mark {
    color: #fff;
    background: transparent;
}

.woocommerce .products .type-product .onsale {
    left: 16px;
    top: 16px;
    margin: 0;
    z-index: 2;
}

.woocommerce .products .product-info h3 {
    font-size: 14px;
    line-height: 1.428572;
    padding: 0;
    margin: 0;
}

.woocommerce .products .product-category .product-info h3 {
    font-size: 14px;
    line-height: 1.7142857;
}

.woocommerce .products .product-category a,
.woocommerce .products .product-category a:hover {
    color: inherit;
}

.woocommerce .products .type-product .product-wrap > a {
    text-align: center;
    display: block;
}

.woocommerce .products .type-product a img {
    width: auto;
    display: block;
    margin: 0 auto;

    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.woocommerce .products .type-product strong {
    display: block;
}

.woocommerce .products .type-product .price {
    font-size: 14px;
    line-height: 1.428572;
    display: block;
    clear: both;
}

.single-product .price del,
.woocommerce .products .type-product .price del,
.woocommerce .products .type-product .price .from {
    color: #ef5350;
}

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
    display: inline-block;
    margin: 0 0 32px;
}

.woocommerce-ordering select {
    margin-bottom: 0;
}

.woocommerce-page .woocommerce-ordering {
    margin-top: -8px;
    float: right;
    text-align: right;
}

.woocommerce #content .woocommerce-pagination {
    position: relative;
    clear: both;
    text-align: center;
}

.woocommerce #content .woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 16px 0 24px;
    font-size: 0;
    text-align: center;
}

.woocommerce #content .woocommerce-pagination ul li {
    font-size: 1rem;
    padding: 0;
    margin: 0 2px;
    display: inline-block;
}

.woocommerce #content .woocommerce-pagination ul li a,
.woocommerce #content .woocommerce-pagination ul li span {
    color: #757575;
    display: block;
    padding: 8px 16px;
    margin: 0;
    border-radius: 2px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
}

.woocommerce #content .woocommerce-pagination ul li a:hover,
.woocommerce #content .woocommerce-pagination ul li span.current {
    color: #424242;
    background: rgba(0, 0, 0, .07);
}

.woocommerce #content .woocommerce-pagination ul li a:active {
    background: rgba(0, 0, 0, .07);
}

.woocommerce input#submit,
.woocommerce .button,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    position: relative;
    border: 0;
    color: #fff;
    background: #757575;
    font-size: 14px;
    line-height: 1.7142857;
    padding: 6px 16px;
    margin: 6px 4px 6px 0;
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: .25px;

    -webkit-tap-highlight-color: transparent;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background: #cc0000
}

.woocommerce a.button {
    line-height: 24px;
    padding: 6px 16px;
    height: auto;
}

.woocommerce .return-to-shop a.button {
    background: transparent;
    padding: 0;
    color: #757575;
}

.woocommerce .return-to-shop a.button:hover,
.woocommerce .return-to-shop a.button:active,
.woocommerce .return-to-shop a.button:focus {
    color: #424242;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .type-product .product-info,
.woocommerce .type-product .product-actions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce .type-product .product-actions {
    position: relative;
    float: right;
    width: 48px;
}

.woocommerce .type-product .product-actions .product-actions-trigger {
    display: block;
    width: 48px;
    height: 52px;
    text-align: center;
    color: #757575;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce .type-product .product-actions .product-actions-trigger:hover {
    color: inherit;
}

.woocommerce .type-product .product-actions .product-actions-trigger .mdi {
    font-size: 24px;
    line-height: 2.16666;
    line-height: 52px;
}

.woocommerce .product-actions a.button,
.widget_shopping_cart a.button {
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    color: #757575;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .product-actions-overlay a,
.woocommerce .product-actions .product-actions-overlay a.button,
.woocommerce .product-actions .yith-wcwl-wishlistexistsbrowse.show a {
    display: block;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.4285714;
    font-weight: 400;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    color: rgba(0, 0, 0, .7);
    white-space: nowrap;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
}

.woocommerce .product-actions-overlay .yith-wcwl-add-to-wishlist {
    margin-top: 0;
}

.wishlist-title h2 {
    padding: 0;
}

.woocommerce a.button:hover,
.woocommerce .product-actions-overlay a:hover,
.woocommerce .product-actions .product-actions-overlay a.button:hover,
.woocommerce .product-actions .yith-wcwl-wishlistexistsbrowse.show a:hover,
.woocommerce .product-actions .yith-wcwl-add-button.show a:hover {
    color: inherit;
    background: rgba(0, 0, 0, .06);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce #respond input#submit:hover,
.woocommerce .button:hover,
.woocommerce .button.alt:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.woocommerce #respond input#submit.alt,
.woocommerce .button.alt {
    background-color: #cc0000;
    color: #fff;
}

.woocommerce .button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce .button.alt:hover {
    background-color: #cc0000;
}

.woocommerce #respond input#submit.alt:active,
.woocommerce .button.alt:active,
.woocommerce .button:active,
.woocommerce input#submit:active {
    color: #fff;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.woocommerce .button:disabled {
    opacity: .5;
}

.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a,
.woocommerce-error a.button,
.woocommerce-info a.button,
.woocommerce-message a.button {
    display: inline-block;
    color: #515151;
    background: transparent;
    margin: 0 0 0 16px;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.846153;
    letter-spacing: .25px;

    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.woocommerce-error a:hover,
.woocommerce-info a:hover,
.woocommerce-message a:hover,
.woocommerce-error a.button:hover,
.woocommerce-info a.button:hover,
.woocommerce-message a.button:hover {
    color: #cc0000;
    background: transparent;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    position: relative;
    overflow: hidden;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty {
    width: 48px;
    height: 36px;
    float: left;
    margin: 6px 0;
    padding: 0;
}

.woocommerce #reviews h2 small {
    float: right;
    color: #757575;
    font-size: 16px;
    line-height: 1.5;
    margin: 8px 0 0;
}

.woocommerce #reviews h2 small a {
    text-decoration: none;
    color: #757575;
}

.woocommerce #reviews #comments .add_review:after,
.woocommerce #reviews #comments .add_review:before {
    content: "";
    display: table;
}

.woocommerce #reviews #comments .add_review:after {
    clear: both;
}

.woocommerce #reviews #comments h2 {
    clear: none;
}

.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist {
    margin: 0 0 24px;
    padding-top: 0;
    width: 100%;
    background: none;
    list-style: none;
}

.woocommerce #reviews #comments ol.commentlist:after,
.woocommerce #reviews #comments ol.commentlist:before {
    content: "";
    display: table;
}

.woocommerce #reviews #comments ol.commentlist:after,
.woocommerce-page #reviews #comments ol.commentlist:after {
    clear: both;
}

.woocommerce #reviews #comments ol.commentlist li {
    position: relative;
    margin: 0 0 16px;
    padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #757575;
    font-size: 12px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 56px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 0 0 16px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text:after,
.woocommerce #reviews #comments ol.commentlist li .comment-text:before {
    content: "";
    display: table;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
    clear: both;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    clear: both;
    font-size: 12px;
    line-height: 1.66666;
    margin-bottom: 8px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description p {
    margin-bottom: 16px;
}

.woocommerce #reviews #comments ol.commentlist ul.children {
    list-style: none;
    margin: 24px 0 0 64px;
}

.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
    display: none;
}

.woocommerce #reviews #comments ol.commentlist #respond {
    border: 1px solid rgba(0, 0, 0, .12);
    padding: 12px 16px 0;
    margin: 24px 0 0 64px;
}

.woocommerce #reviews #comments .commentlist > li:before,
.woocommerce-page #reviews #comments .commentlist > li:before {
    content: "";
}

.woocommerce .star-rating,
.woocommerce-page .star-rating {
    position: relative;
    color: inherit;
    font-size: 14px;
    width: 70px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    float: left;
}

/*.woocommerce .widget_rating_filter .star-rating,
.woocommerce-page .widget_rating_filter .star-rating {
	float: left;
}*/

.woocommerce .widget_rating_filter .wc-layered-nav-rating {
    text-align: right;
}

.woocommerce .product_list_widget .star-rating {
    height: 20px;
}

.woocommerce .star-rating:before,
.woocommerce .star-rating span:before {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: block;
    height: 20px;
    line-height: 1;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    content: "\e838\e838\e838\e838\e838";
    color: #bdbdbd;
}

.woocommerce .product_list_widget .star-rating,
.woocommerce .product_list_widget .star-rating:before,
.woocommerce .product_list_widget .star-rating span:before {
    height: 20px;
    line-height: 20px;
}

.woocommerce .star-rating span:before {
    color: #cc0000;
}

.woocommerce .star-rating span {
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 24px;
}

.woocommerce .woocommerce-product-rating {
    display: block;
    margin-bottom: 16px;
    line-height: inherit;
}

.woocommerce .woocommerce-product-rating .star-rating {
    color: inherit;
    margin: 2px 8px 0 0;
    float: left;
}

.woocommerce-review-link {
    color: #757575;
}

.woocommerce-review-link:hover {
    color: #424242;
}

.woocommerce .products .star-rating {
    color: inherit;
}

.woocommerce .hreview-aggregate .star-rating {
    margin: 8px 0 0;
}

.woocommerce #review_form #respond:after,
.woocommerce #review_form #respond:before {
    content: "";
    display: table;
}

.woocommerce #review_form #respond:after {
    clear: both;
}

.woocommerce #review_form #respond p {
    margin: 0 0 16px;
}

.woocommerce p.comment-form-rating label {
    margin-bottom: 16px;
}

.woocommerce p.stars {
    position: relative;
    font-size: 24px;
    height: 24px;
    line-height: 1;
    padding-top: 8px;
}

.woocommerce p.stars a {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: inherit;
    text-indent: -9999px;
}

.woocommerce p.stars a:after {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
    display: inline-block;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    height: 24px;
    line-height: 1;
    line-height: 24px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    color: #cc0000;
}

.woocommerce p.stars a.star-1 {
    width: 24px;
    z-index: 5;
}

.woocommerce p.stars a.star-1:after {
    content: "\e83a"
}

.woocommerce p.stars a.star-1.active:after,
.woocommerce p.stars a.star-1:hover:after {
    content: "\e838";
}

.woocommerce p.stars a.star-2 {
    width: 48px;
    z-index: 4;
}

.woocommerce p.stars a.star-2:after {
    content: "\e83a\e83a";
}

.woocommerce p.stars a.star-2.active:after,
.woocommerce p.stars a.star-2:hover:after {
    content: "\e838\e838";
}

.woocommerce p.stars a.star-3 {
    width: 72px;
    z-index: 3;
}

.woocommerce p.stars a.star-3:after {
    content: "\e83a\e83a\e83a";
}

.woocommerce p.stars a.star-3.active:after,
.woocommerce p.stars a.star-3:hover:after {
    content: "\e838\e838\e838";
}

.woocommerce p.stars a.star-4 {
    width: 96px;
    z-index: 2;
}

.woocommerce p.stars a.star-4:after {
    content: "\e83a\e83a\e83a\e83a";
}

.woocommerce p.stars a.star-4.active:after,
.woocommerce p.stars a.star-4:hover:after {
    content: "\e838\e838\e838\e838";
}

.woocommerce p.stars a.star-5 {
    width: 120px;
    z-index: 1;
}

.woocommerce p.stars a.star-5:after {
    content: "\e83a\e83a\e83a\e83a\e83a";
}

.woocommerce p.stars a.star-5.active:after,
.woocommerce p.stars a.star-5:hover:after {
    content: "\e838\e838\e838\e838\e838";
}

.woocommerce table.shop_attributes {
    border: 0;
    margin-bottom: 24px;
    width: 100%;
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
    width: auto;
    font-weight: 600;
    padding: 12px 24px;
    border: 0;
}

.woocommerce table.shop_attributes td {
    font-style: normal;
    font-weight: 400;
}

.woocommerce table.shop_attributes td p {
    margin: 0;
    padding: 0;
}

.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th {
    background: #f5f5f5;
}

.woocommerce table.shop_table {
    border: none;
    margin: 0 0 32px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

.woocommerce table.shop_table th,
.woocommerce table.wishlist_table thead th {
    border: none;
    font-weight: 600;
    padding: 12px 0;
    background: none;
    font-weight: 600;
}

.woocommerce table.shop_table td {
    border: none;
    border-top: 1px solid #e0e0e0;
    padding: 12px 0;
    vertical-align: middle;
}

.woocommerce table.shop_table.customer_details tbody,
.woocommerce table.shop_table.customer_details td {
    border: none;
}

.shop_table tbody {
    border-top: 1px solid rgba(0, 0, 0, .12);
}

.shop_table a {
    color: #424242;
}

.shop_table a:hover {
    opacity: .7;
}

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    border-top: 1px solid #e0e0e0;
}

.woocommerce table.my_account_orders td,
.woocommerce table.my_account_orders th {
    padding: 12px 8px;
    vertical-align: middle;
}

.woocommerce table.my_account_orders th {
    font-weight: 600;
}

.woocommerce table.my_account_orders a.button,
.woocommerce table.my_account_orders a.button:active {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    min-width: 0;
    background: transparent;
    color: #757575;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce table.my_account_orders a.button:hover {
    color: #424242;
}

.woocommerce table.my_account_orders .order-actions {
    text-align: right;
}

.woocommerce td.product-name dl.variation:after,
.woocommerce td.product-name dl.variation:before {
    content: "";
    display: table;
}

.woocommerce td.product-name dl.variation:after {
    clear: both;
}

.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
    display: inline-block;
    float: left;
    margin: 0;
}

.woocommerce td.product-name dl.variation p {
    padding: 0;
}

.woocommerce td.product-name dl.variation {
    font-size: 12px;
    margin-bottom: 0;
}

.woocommerce td.product-name dl.variation dt {
    margin: 0 4px 0 0;
    color: #757575;
    clear: left;
}

.woocommerce td.product-name dl.variation dd p:last-child {
    margin-bottom: 0;
}

.woocommerce td.product-name p.backorder_notification {
    font-size: .85em;
    margin: 0;
    padding: 0;
}

.woocommerce td.product-quantity,
.woocommerce-page td.product-quantity {
    min-width: 40px;
}

.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail {
    min-width: 32px;
}

.woocommerce #content table.cart img,
.woocommerce table.cart img {
    width: 70px;
    display: block;
}

.woocommerce #content table.cart td,
.woocommerce #content table.cart th,
.woocommerce table.cart td,
.woocommerce table.cart th {
    vertical-align: middle;
}

.woocommerce table.cart .product_remove {
    min-width: 48px;
    text-align: center;
}

.woocommerce table.cart td.actions {
    text-align: right;
}

.woocommerce table.cart td.actions .coupon {
    position: relative;
    display: inline-block;
    float: left;
}

.woocommerce table.cart td.actions .coupon label {
    display: none;
}

.woocommerce #content table.cart a.remove,
.woocommerce table.cart a.remove,
.woocommerce #content table.wishlist_table.cart a.remove {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    width: 24px;
    height: 24px;
    padding-top: 24px;
    text-align: center;
    color: #9e9e9e;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #content table.cart a.remove:hover,
.woocommerce table.cart a.remove:hover,
.woocommerce #content table.wishlist_table.cart a.remove:hover {
    color: inherit;
    background: transparent;
}

.woocommerce #content table.cart a.remove:before,
.woocommerce table.cart a.remove:before {
    position: absolute;
    top: 0;
    left: 0;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 1.33334;
    line-height: 24px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    content: "\e5cd";
}

.woocommerce #content table.cart td.actions input,
.woocommerce table.cart td.actions input {
    margin: 0 2px;
}

.woocommerce #content table.cart td.actions input[type="submit"],
.woocommerce table.cart td.actions input[type="submit"] {
    margin: 2px;
}

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
    list-style: none;
    padding: 0;
}

.woocommerce .widget .widget_shopping_cart_content {
    margin-bottom: 18px;
}

.woocommerce ul.cart_list {
    width: 100%;
    margin-bottom: 0;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    position: relative;
    overflow: hidden;
    padding: 10px 0 0 56px;
    border-bottom: none;
}

.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 56px;
}

.woocommerce ul.cart_list li:first-child,
.woocommerce ul.product_list_widget li:first-child {
    padding-top: 0;
}

.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
    content: "";
    width: 100%;
    display: block;
    padding: 10px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.woocommerce ul.cart_list li:last-child:after {
    border-bottom: none;
}


.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    position: absolute;
    left: 0;
}

.woocommerce ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty {
    padding: 0 0 16px;
    color: #9e9e9e;
}

.woocommerce ul.cart_list li.empty:after,
.woocommerce ul.product_list_widget li.empty:after {
    display: none;
}

.widget_shopping_cart ul.product_list_widget li a.remove {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    color: #9e9e9e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget_shopping_cart ul.product_list_widget li a.remove:hover {
    color: #424242;
}

.widget_shopping_cart ul.product_list_widget li a.remove:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1.11112;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    content: "\e5cd";
}

.cart_list li a {
    color: inherit;
}

.cart_list li a:hover {
    opacity: .7;
}

.cart_list li .quantity {
    color: #757575;
}

.cart_list li:last-child {
    border: none !important;
}

.widget_shopping_cart p.total {
    margin-bottom: 12px;
    padding-top: 12px;
    border-top: 2px solid #e5e5e5;
    float: right;
}

.widget_shopping_cart p.total .tax_label {
    display: block;
    text-align: right;
}

.widget_shopping_cart_content p.buttons {
    margin: 0 -4px 16px;
    text-align: right;
}

.cart-submenu .widget_shopping_cart_content p.buttons {
    padding: 0;
    margin-bottom: 0;
}

.widget_shopping_cart_content p.buttons a {
    display: inline-block;
    margin: 8px 4px;
    padding: 6px 0px;
}

.widget_shopping_cart_content p.buttons a:hover {
    background: none;
}

.woocommerce ul.cart_list li:after,
.woocommerce ul.cart_list li:before,
.woocommerce ul.product_list_widget li:after,
.woocommerce ul.product_list_widget li:before {
    content: "";
    display: table
}

.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
    clear: both;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    display: block;
}

.woocommerce .cart-submenu ul.cart_list li a {
    padding-right: 24px;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
    position: absolute;
    top: inherit;
    left: inherit;
    color: grey !important;
}

.woocommerce a.remove:hover {
    color: #cc0000;
    background: transparent;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
}

.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
    margin: 0 0 4px;
}

.woocommerce ul.cart_list li dl:after,
.woocommerce ul.cart_list li dl:before,
.woocommerce ul.product_list_widget li dl:after,
.woocommerce ul.product_list_widget li dl:before {
    content: "";
    display: table;
}

.woocommerce ul.cart_list li dl:after,
.woocommerce ul.product_list_widget li dl:after {
    clear: both;
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dd,
.woocommerce ul.product_list_widget li dl dt {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    font-size: 12px;
    color: #757575;
}

.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt {
    font-weight: 600;
    color: inherit;
    padding: 0 4px 0 0;
    margin: 0;
    clear: left;
}

.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
    padding: 0;
    margin: 0;
}

.woocommerce ul.cart_list li dl dd p:last-child,
.woocommerce ul.product_list_widget li dl dd p:last-child {
    margin-bottom: 0;
}

.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    float: none;
    display: block;
}

.woocommerce .widget_shopping_cart .total {
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding: 12px 0;
    margin: 0;
    float: right;
}

.woocommerce .widget_shopping_cart .total strong {
    display: inline-block;
}

.woocommerce .widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:before {
    content: "";
    display: table;
}

.woocommerce .widget_shopping_cart .buttons:after {
    clear: both;
}

.woocommerce .cart-collaterals .shipping_calculator .button {
    width: 100%;
    float: none;
    display: block;
}

.woocommerce .cart-collaterals .cart_totals p {
    margin: 0;
}

.woocommerce .cart-collaterals .cart_totals p small {
    color: #757575;
    font-size: 12px;
}

.woocommerce .cart-collaterals .cart_totals table {
    border: none;
    border-collapse: collapse;
    margin: 0 0 24px;
    padding: 0;
}

.cart_totals th,
.cart_totals td {
    background: none;
    border: none;
}

.woocommerce .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce .cart-collaterals .cart_totals table tr:first-child th {
    border-top: 0;
}

.woocommerce .cart-collaterals .cart_totals table th {
    padding: 12px 16px 12px 0;
    width: 30%;
}

.woocommerce .cart-collaterals .cart_totals table td {
    padding: 12px 0;
}

.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce .cart-collaterals .cart_totals table th {
    vertical-align: top;
}

.woocommerce .cart-collaterals .cart_totals table small {
    display: block;
    color: #757575;
}

.woocommerce .cart-collaterals .cart_totals table select {
    width: 100%;
}

.woocommerce .cart-collaterals .cart_totals .discount td {
    color: #4595e5;
}

.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #e0e0e0;
    text-align: right;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt {
    display: inline-block;
    background-color: #cc0000;
}

.woocommerce .cart-collaterals .cart_totals a.button.alt :hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-bottom-color: #4595e5;
}

.woocommerce .cart-collaterals .cross-sells .products .type-product {
    margin-top: 0;
}

.woocommerce .cart-collaterals .cross-sells .products .type-product:nth-of-type(2n+3) {
    clear: both;
}

.woocommerce .cart-collaterals .cross-sells .products .type-product:nth-of-type(2n+2) {
    clear: none;
}

.woocommerce-page form p {
    /*padding: 0 20px;*/
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce form .form-row
.woocommerce form .lost_password {
    padding: 0 20px;
    margin-bottom: 20px;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce .form-row-wide,
.woocommerce .form-row.notes {
    float: none;
    width: 100%;
    clear: both;
}

.woocommerce form .form-row.notes,
.woocommerce .shipping-calculator-form .form-row-wide,
.woocommerce .shipping-calculator-form p,
.woocommerce form .payment_methods p,
.woocommerce #commentform p,
.woocommerce form p.out-of-stock {
    padding: 0;
}

.woocommerce form .create-account {
    margin: 0 -20px;
}

.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
}

.woocommerce form .form-row label {
    font-size: 12px;
    line-height: 1.6667;
    font-weight: 600;
    color: #757575;
}

.woocommerce form .form-row label.hidden {
    visibility: hidden;
}

.woocommerce form .form-row label.inline {
    display: inline;
}

.woocommerce form .form-row select {
    cursor: pointer;
    margin: 0;
}

.woocommerce form .form-row .button {
    margin: 0;
}

.woocommerce form .form-row .required {
    color: red;
    font-weight: 600;
    border: 0;
}

.woocommerce form .input-text,
.woocommerce form textarea,
.woocommerce .country_select,
.woocommerce .state_select {
    width: 100%;
}

.woocommerce .country_select {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.woocommerce .shop_table .actions .input-text {
    width: auto;
}

.woocommerce form .form-row textarea {
    min-height: 72px;
}

.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-drop,
.woocommerce form .form-row.validate-required.woocommerce-invalid .chosen-single,
.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text,
.woocommerce form .form-row.validate-required.woocommerce-invalid select {
    border-color: #cc0000;
}

.woocommerce form .form-row ::-webkit-input-placeholder, .woocommerce-page form .form-row ::-webkit-input-placeholder,
.woocommerce form .form-row :-moz-placeholder, .woocommerce-page form .form-row :-moz-placeholder,
.woocommerce form .form-row :-ms-input-placeholder, .woocommerce-page form .form-row :-ms-input-placeholder {
    line-height: normal;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    position: relative;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0 -20px 24px;
    text-align: left;
}

.woocommerce ul#shipping_method {
    list-style: none;
    margin: 0 0 24px;
    padding: 0;
}

.woocommerce .checkout ul#shipping_method {
    margin-bottom: 0;
}

.woocommerce ul#shipping_method li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.woocommerce ul#shipping_method .amount {
    font-weight: 600;
}

.woocommerce p.woocommerce-shipping-contents {
    margin: 0;
}

.woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-calculator p {
    margin: 0 0 12px;
    padding: 0;
}

.woocommerce .shipping-calculator-button {
    color: #757575;
}

.woocommerce .shipping-calculator-button:hover {
    color: #424242;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address {
    float: left;
    clear: none;
}

.woocommerce .checkout .col-2 .form-row-first,
.woocommerce .checkout .col-2 .notes {
    clear: left;
}

.woocommerce .checkout .create-account small,
.woocommerce-page .checkout .create-account small {
    font-size: 12px;
    line-height: 24px;
    color: #757575;
}

.woocommerce .checkout div.shipping-address {
    padding: 0;
    clear: left;
    width: 100%;
}

.woocommerce .checkout .shipping_address {
    clear: both;
}

.woocommerce #payment {
    background: #fff;
}

.woocommerce #payment ul.payment_methods {
    margin: 0 0 12px;
    padding: 0 0 12px;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.woocommerce #payment ul.payment_methods:after,
.woocommerce #payment ul.payment_methods:before {
    content: "";
    display: table;
}

.woocommerce #payment ul.payment_methods:after {
    clear: both;
}

.woocommerce #payment ul.payment_methods li {
    line-height: 2;
}

.woocommerce #payment ul.payment_methods li input {
    margin: 0 4px 0 0;
    vertical-align: middle;
}

.woocommerce #payment ul.payment_methods li img {
    vertical-align: middle;
    margin: -2px 0 0 8px;
    padding: 0;
    position: relative;
}

.woocommerce #payment ul.payment_methods li img + img {
    margin-left: 2px;
}

.woocommerce #payment div.form-row {
    padding: 12px 0;
    width: 100%;
    margin-bottom: 0;
}

.woocommerce #payment div.payment_box {
    position: relative;
    width: 100%;
    padding: 12px 16px;
    margin: 12px 0;
    background: #eee;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #payment div.payment_box input.input-text,
.woocommerce #payment div.payment_box textarea {
    /*	border-color: #ccc #dcdcdc #dcdcdc;*/
}

.woocommerce #payment div.payment_box ::-webkit-input-placeholder
.woocommerce #payment div.payment_box :-moz-placeholder
.woocommerce #payment div.payment_box :-ms-input-placeholder {
    /*	color: #ccc;*/
}

.woocommerce #payment div.payment_box .wc-credit-card-form-card-cvc,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-expiry,
.woocommerce #payment div.payment_box .wc-credit-card-form-card-number {
    font-size: 16px;
    padding: 12px;
    background-repeat: no-repeat;
    background-position: right;
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.visa {
    background-image: url(images/icons/credit-cards/visa.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.mastercard {
    background-image: url(images/icons/credit-cards/mastercard.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.laser {
    background-image: url(images/icons/credit-cards/laser.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.dinersclub {
    background-image: url(images/icons/credit-cards/diners.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.maestro {
    background-image: url(images/icons/credit-cards/maestro.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.jcb {
    background-image: url(images/icons/credit-cards/jcb.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.amex {
    background-image: url(images/icons/credit-cards/amex.png)
}

.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number.discover {
    background-image: url(images/icons/credit-cards/discover.png)
}

.woocommerce #payment div.payment_box span.help,
.woocommerce-page #payment div.payment_box span.help {
    font-size: 12px;
    line-height: 24px;
    color: #757575;
}

.woocommerce #payment div.payment_box .form-row {
    margin: 0 0 12px;
}

.woocommerce #payment div.payment_box p:last-child {
    margin-bottom: 0;
}

.woocommerce #payment div.payment_box:after {
    content: "";
    display: block;
    border: 8px solid #eee;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -8px;
    left: 0;
    margin: -8px 0 0 24px;
}

.woocommerce #payment .payment_method_paypal .about_paypal {
    float: right;
    font-size: 12px;
    line-height: 52px;
}

.woocommerce #payment .payment_method_paypal img {
    max-height: 52px;
    vertical-align: middle;
}

.woocommerce .order_details {
    margin: 0 0 32px;
    list-style: none;
}

.woocommerce .order_details:after,
.woocommerce .order_details:before {
    content: "";
    display: table;
}

.woocommerce .order_details:after {
    clear: both;
}

.woocommerce .order_details li {
    float: left;
    margin-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, .12);
    padding-right: 20px;
}

.woocommerce .order_details li strong {
    display: block;
}

.woocommerce .order_details li:last-of-type {
    border: none;
}

.woocommerce .addresses .title:after,
.woocommerce .addresses .title:before {
    content: "";
    display: table;
}

.woocommerce .addresses .title:after {
    clear: both;
}

.woocommerce .addresses .title h3 {
    float: left;
}

.woocommerce .addresses .title .edit {
    float: right;
    text-transform: uppercase;
    letter-spacing: .25px;
    color: #757575;
    font-weight: 600;
    padding: 6px;
}

.woocommerce .addresses .title .edit:hover {
    color: inherit;
}

.woocommerce ol.commentlist.notes li.note p.meta {
    font-weight: 600;
    margin-bottom: 0;
}

.woocommerce ol.commentlist.notes li.note .description p:last-child {
    margin-bottom: 0;
}

.woocommerce ul.digital-downloads,
.woocommerce ul.digital-downloads li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.woocommerce ul.digital-downloads li:before {
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0ab";
    margin-right: 8px;
}

.woocommerce ul.digital-downloads li .count {
    float: right;
}

.widget_layered_nav ul {
    margin: 0 0 16px;
    padding: 0;
    border: 0;
    list-style: none;
    max-height: 264px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.widget_layered_nav ul.yith-wcan-list.yith-wcan li small.count {
    display: none;
}

.widget_layered_nav ul li:after,
.widget_layered_nav ul li:before {
    content: "";
    display: table
}

.widget_layered_nav ul li:after {
    clear: both;
}

.widget_layered_nav ul li a,
.widget_layered_nav_filters ul li a {
    color: #757575;
    display: inline-block;
}

.widget_layered_nav ul li a:hover,
.widget_layered_nav_filters ul li a:hover,
.widget_product_categories ul li a:hover {
    color: #424242;
}

.widget_layered_nav ul li a:before,
.widget_layered_nav ul li.chosen > a:before,
.widget_layered_nav_filters ul li a:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    margin: 0 8px 0 0;

    text-align: center;
    vertical-align: top;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.widget_layered_nav ul li a:before {
    content: "\e835";
}

.widget_layered_nav ul li.chosen > a:before {
    content: "\e834";
}

.widget_layered_nav_filters ul li a:after {
    content: "\e14c";
    font-size: 12px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    margin: 2px 8px;

    background: #9e9e9e;
    color: #e0e0e0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}

.widget_layered_nav_filters ul {
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
    zoom: 1;
    font-size: 0;
}

.widget_layered_nav_filters ul li {
    display: inline-block;
    margin: 0 8px 8px 0;
    font-size: 13px;
    line-height: 1.53846;
    padding: 0;
    border: none;
}

.widget_layered_nav_filters ul li a {
    padding: 6px 0 6px 12px;
    background: #e0e0e0;
    color: rgba(0, 0, 0, .87);

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.widget_layered_nav_filters ul li a:hover {
    background: #757575;
    color: #fff;
}

.widget_layered_nav_filters ul li a:hover:after {
    background: #fff;
    color: #757575;
}

.widget_layered_nav_filters ul li a:active {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.widget_layered_nav_filters ul li a:hover:before {
    color: #fff;
}

.woocommerce .widget_price_filter .price_slider {
    margin-bottom: 24px;
}

.woocommerce .widget_price_filter .price_slider_amount {
    margin-bottom: 24px;
}

.woocommerce .widget_price_filter .price_slider_amount .price_label {
    padding: 6px 0;
    text-align: right;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    float: left;
    margin: 0;
}

.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: #cc0000;
    outline: 0;
    top: -5px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -12px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    background: #cc0000;
}

.woocommerce .price_slider_wrapper,
.woocommerce .price_slider_amount {
    padding-top: 4px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #bdbdbd;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 2px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.single-product .product_meta .wcml_currency_switcher {
    display: block;
    margin-bottom: 24px;
}

.woocommerce .shipping_calculator input,
.woocommerce .shipping_calculator select {
    width: 100%;
}

.woocommerce .shipping_calculator:after {
    content: "";
    display: table;
    clear: both;
}

.woocommerce .product_meta span {
    display: block;
    text-align: left;
}

.woocommerce .product_meta span.sku {
    display: inline;
}

/* Loading overlay */

.woocommerce .blockUI.blockOverlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: none !important;
    background-color: transparent !important;
    opacity: .7 !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/* Arrow buttons */

.woocommerce #content input.button.added:after,
.woocommerce #respond input#submit.added:after,
.woocommerce .button.added:after,
.woocommerce #respond input#submit.loading:after,
.wc-forward a:after,
.wc-forward:after,
.wc-backward a:before,
.wc-backward:before,
.woocommerce .shipping-calculator-button:after,
.md-success:before,
.md-wishlist:before,
.filter-button:before,
#yith-quick-view-close:before,
.yith-wcan-reset-navigation.button:before,
.yit-wcan-select-open:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    line-height: 18px;
    text-transform: none;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 4px;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

}

.md-success,
.md-wishlist {
    font-size: 24px;
    line-height: 1;
}

.md-success:before,
.md-wishlist:before {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: inherit;
    line-height: inherit;
    color: #9e9e9e;
    margin: 0;
    content: '\e5ca';

    opacity: 0;

    -webkit-transition: 1s opacity cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: 1s opacity cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 1s opacity cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 1s opacity cubic-bezier(0.4, 0, 0.2, 1);
    transition: 1s opacity cubic-bezier(0.4, 0, 0.2, 1);
}

.md-success:before {
    content: '\e5ca';
}

.md-wishlist:before {
    content: "\e87d";
}

.show-in:before {
    opacity: 1;
}

.filter-button:before {
    font-size: 24px;
    line-height: 1;
    margin: 0 8px 0 0;
}

.wc-forward a:after,
.wc-forward:after,
.rtl .wc-backward a:before,
.rtl .wc-backward:before {
    display: none;
}

.rtl .wc-forward a:after,
.rtl .wc-forward:after,
.wc-backward a:before,
.wc-backward:before {
    display: none;
}

.woocommerce .return-to-shop .wc-backward:before {
    content: '\e5c4';
    margin: 0 4px 0 0;
}

.rtl .woocommerce .return-to-shop .wc-backward:before {
    content: '\e5c8';
    margin: 0 0 0 4px;
}

.woocommerce .shipping-calculator-button:after {
    content: "\e313";
}

.widget_shopping_cart_content p.buttons .wc-forward:after {
    display: none;
}

.woocommerce .product-wrap.product-added {
    -webkit-animation: success-shadow ease-in-out 1s;
    animation: success-shadow ease-in-out 1s;
}

.product-adding {
    opacity: .7 !important;
}

@-webkit-keyframes success-shadow {
    0% {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    }
    50% {
        -webkit-box-shadow: 0 2px 6px rgba(244, 67, 54, .48);
        box-shadow: 0 2px 6px rgba(244, 67, 54, .48);
    }
    100% {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    }
}

@keyframes success-shadow {
    0% {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
    }
    50% {
        -webkit-box-shadow: 0 2px 6px rgba(244, 67, 54, .48);
        box-shadow: 0 2px 6px rgba(244, 67, 54, .48);
    }
    100% {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .24);

    }
}

/* YITH Wishlist styles override */

.product-wrap .yith-wcwl-wishlistexistsbrowse .feedback,
.product-wrap .yith-wcwl-wishlistaddedbrowse.show .feedback,
.product-wrap .yith-wcwl-add-button .ajax-loading,
.woocommerce .added_to_cart {
    display: none !important;
}

.woocommerce table.wishlist_table {
    font-size: 100%;
}

.woocommerce table.wishlist_table thead th,
.woocommerce table.wishlist_table tbody td {
    border-color: #e0e0e0;
}

.woocommerce table.wishlist_table tbody td {
    padding: 12px 0;
}

.wishlist_table tr td,
.wishlist_table tr th.wishlist-delete,
.wishlist_table tr th.product-checkbox {
    text-align: inherit;
}

.woocommerce .wishlist_table td.product-add-to-cart a.button,
.woocommerce .wishlist_table td.product-name a.button {
    display: inline-block !important;
    margin: 0;
    padding: 6px 16px;
    border-radius: 0;
    font-size: 12px;
    line-height: 24px;
    background-color: transparent;
    color: #757575;
}

.woocommerce .wishlist_table td.product-add-to-cart a.button:hover,
.woocommerce .wishlist_table td.product-name a.button:hover,
.woocommerce .wishlist_table td.product-add-to-cart a.button:active,
.woocommerce .wishlist_table td.product-name a.button:active,
.woocommerce .wishlist_table td.product-add-to-cart a.button:focus,
.woocommerce .wishlist_table td.product-name a.button:focus {
    color: #424242;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .wishlist_table td.product-add-to-cart span.dateadded {
    display: block;
    margin-bottom: 8px;
    color: #757575;
}

.yith-wcwl-share ul {
    margin: 0 -4px 16px;
    font-size: 18px;
    line-height: 32px;
    font-size: 0;
}

.yith-wcwl-share ul,
.yith-wcwl-share li {
    height: auto;
}

.yith-wcwl-share li {
    font-size: 18px;
    line-height: 32px;
}

.yith-wcwl-share h4.yith-wcwl-share-title {
    margin: 16px 0;
}

.yith-wcwl-share li a {
    width: 32px;
    height: 32px;
}

.yith-wcwl-share li a:hover {
    opacity: 1;
}

.yith-wcwl-share li a {
    background-image: none !important;
}

.yith-wcwl-share li a:active {
    color: #fff;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)) !important;
    background-image: -moz-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)) !important;
    background-image: -ms-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)) !important;
    background-image: -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)) !important;
    background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)) !important;
}

.yith-wcwl-share li a.facebook {
    background-color: #3c5a98;
}

.yith-wcwl-share li a.twitter {
    background-color: #3cf;
}

.yith-wcwl-share li a.pinterest {
    background-color: #c33;
}

.yith-wcwl-share li a.googleplus {
    background-color: #dd5044;
}

.yith-wcwl-share li a.email {
    background: #607d8b;
}

/* Yith Quick View plugin styles override */

#yith-quick-view-modal .yith-wcqv-wrapper {
    width: 96%;
    max-width: 960px;
}

#yith-quick-view-modal .yith-quick-view-overlay {
    background: rgba(0, 0, 0, .7);
}

#yith-quick-view-modal .yith-wcqv-main {
    padding: 24px;
    max-height: 400px;
    -webkit-transition: .4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: .4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: .4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: .4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: .4s cubic-bezier(0.4, 0, 0.2, 1);

    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    -moz--shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#yith-quick-view-content {
    max-height: 400px;
    overflow: visible;
}

#yith-quick-view-content div.type-product {
    position: relative;
    margin: 0 -20px;
}

#yith-quick-view-content div.type-product h1 {
    font-size: 34px;
    line-height: 1.1765;
}

.yith-wcqv-head {
    position: relative;
    float: right;
    width: 48px;
    height: 48px;
    margin: -24px -24px -48px 0;
}

.yith-wcqv-head:after {
    content: "";
    clear: both;
    display: table;
}

#yith-quick-view-content div.images,
#yith-quick-view-content div.summary {
    padding: 0 20px;
}

#yith-quick-view-content div.summary {
    padding: 16px 20px;
}

#yith-quick-view-content div.images img {
    display: block;
    margin: 0 auto;
}

#yith-quick-view-close {
    position: relative;
    float: right;
    display: inline-block;
    border: none;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    z-index: 2;
    opacity: 1;
    text-indent: -99999px;
    color: #9e9e9e;
    background: transparent;
}

#yith-quick-view-close:hover {
    color: #424242;
}

#yith-quick-view-close:before {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-indent: 0;
    content: "\e5cd";
}

#yith-quick-view-content .quantity {
    float: left;
    margin: 0 8px 0 0;
}

#yith-quick-view-content .variations td {
    vertical-align: middle;
}

#yith-quick-view-content .variations select {
    width: auto;
    float: left;
}

#yith-quick-view-content .ss-lightbox {
    display: none;
}

.woocommerce .yith-wcan-reset-navigation.button {
    margin: 0;
    padding: 0;
    background: none;
    color: #757575;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.yith-wcan-reset-navigation.button:before {
    margin: 0 4px 0 0;
    line-height: 24px;
    content: '\e5cd';
}

.yith-wcan-loading {
    background: none;
    min-height: 24px;
    display: block;
}

.yith-wcan-select-wrapper {
    z-index: 3 !important;
}

.widget-area .yith-wcan-select-wrapper {
    max-width: 100%;
    margin: -16px 0 0;
    padding: 8px 0;
    border: none;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li,
.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li:hover,
.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen {
    border: none;
    -webit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li {
    padding: 8px 0;
    border: none;
}

.yith-woo-ajax-navigation {
    position: relative;
}

.yit-wcan-select-open,
.yit-wcan-select-open.active {
    line-height: 24px;
    margin: 0 0 16px;
    padding: 8px 0;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.yit-wcan-select-open:after {
    float: right;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    content: '\e313';
}

.yit-wcan-select-open.active:after {
    content: '\e316';
}

.yith-wcwl-add-button img {
    display: none !important;
}

.single-product .entry-summary .yith-wcwl-add-button .add_to_wishlist,
.single-product .entry-summary .yith-wcwl-wishlistaddedbrowse.show a,
.single-product .entry-summary .yith-wcwl-wishlistexistsbrowse.show a {
    font-size: 14px;
    line-height: 1.7142857;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .25px;
    color: #757575;
}

.yith-wcwl-add-button .add_to_wishlist:hover,
.yith-wcwl-wishlistaddedbrowse.show a:hover,
.yith-wcwl-wishlistexistsbrowse.show a:hover {
    color: #424242;
}

.yith-wcwl-wishlistaddedbrowse.show .feedback {
    display: none;
}

.summary .product_meta {
    margin-top: 24px;
    color: #9e9e9e;
}

.summary .product_meta .sku,
.summary .product_meta a {
    color: #757575;
}

.summary .product_meta a:hover {
    color: #cc0000;
}

.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen a,
.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen a {
    background: none;
}

.woocommerce .widget_layered_nav ul.yith-wcan-select li.chosen > a:before,
.woocommerce-page .widget_layered_nav ul.yith-wcan-select li.chosen > a:before {
    content: '\e834';
}

.summary-content {
    text-align: left;
}

.yith-wcwl-add-to-wishlist {
    margin-top: 48px;
}

#ss-ajax-loadmore-actions {
    margin-bottom: 24px;
    clear: both;
}

/* Select2 enhanced select box styles */

.select2-container .select2-choice {
    font-size: 16px;
    line-height: 1.5;
    padding: 6px 0;
    border: none;
    color: #9e9e9e;
    border-radius: 0;
}

.select2-drop {
    margin-top: 0;
    color: inherit;
    border: none;
    border-radius: 0
}

.select2-drop.select2-drop-above {
    margin-top: 0;
    border-top: none;
    border-radius: 0;
}

.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-drop-auto-width {
    border: none;
    color: #424242;

    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
}

.select2-search {
    margin: 0;
    padding: 8px 16px;
}

.select2-search input {
    padding: 8px 20px 8px 0 !important;
    font-size: 16px;
    line-height: 20px;
    border: none;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
    background: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select2-container .select2-choice .select2-arrow {
    width: 16px;
    height: 36px;
    border-radius: 0;
}

html[dir=rtl] .select2-container .select2-choice .select2-arrow {
    left: 0;
    right: auto;
    border-radius: 3px 0 0 3px
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    position: relative
}

.select2-container .select2-choice .select2-arrow b:after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    border: 4px solid transparent;
    border-top-color: #666;
    margin-left: -7px;
    margin-top: -2px
}

.select2-search:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    text-transform: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: '\e8b6';
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 18px;
    line-height: 36px;
    width: 24px;
    text-align: center;
    color: #9e9e9e;
}

html[dir=rtl] .select2-search:after {
    right: auto;
    left: 0;
}

.select2-search input:focus {
    outline: 0;
    -webkit-box-shadow: 0 2px 0 #cc0000;
    -moz-box-shadow: 0 2px 0 #cc0000;
    box-shadow: 0 2px 0 #cc0000;
}

html[dir=rtl] .select2-search input {
    padding: 8px 0 8px 20px !important;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 0;
}

.select2-results {
    max-height: 240px;
    padding: 0;
    margin: 0;
    background: #fff;
}

html[dir=rtl] .select2-results {
    padding: 8px 0;
    margin: 0;
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0
}

.select2-results li {
    margin: 0;
}

.select2-results .select2-result-label {
    padding: 8px 16px;
}

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    border: none;
    border-radius: 0;
}

.select2-results .select2-highlighted {
    background: rgba(0, 0, 0, .06);
    color: #424242;
    border-radius: 0
}

.select2-results .select2-highlighted ul {
    color: #424242
}

.select2-results .select2-ajax-error, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: rgba(0, 0, 0, .06);
    padding: 8px 16px;
}

.select2-results .select2-disabled.select2-highlighted {
    color: #757575;
    background: rgba(0, 0, 0, .06);
}

.select2-results .select2-disabled,
.select2-more-results {
    background: #f5f5f5;
}

/* My account tabbed navigation */

.woocommerce-MyAccount-navigation > ul {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 56px;
    overflow-y: hidden;
    overflow-x: auto;
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.woocommerce-MyAccount-navigation > ul > li {
    position: relative;
    display: inline-block;
    z-index: 2;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.714286;
}

.woocommerce-MyAccount-navigation > ul > li a {
    display: inline-block;
    padding: 12px 16px 10px;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    line-height: 1.7142857;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.woocommerce-MyAccount-navigation > ul > li a:hover {
    color: #424242;
    border-bottom-color: #e0e0e0;
}

.woocommerce-MyAccount-navigation > ul > li.is-active {
    z-index: 2;
}

.woocommerce-MyAccount-navigation > ul > li.is-active a {
    color: #424242;
    border-bottom-color: #4595e5;
}

.woocommerce-MyAccount-content {
    clear: both;
    position: relative;
    margin: 0 0 24px;
    padding: 24px 0 0;
}

.woocommerce-MyAccount-content .woocommerce-FormRow form {
    margin: 0 -10px;
}

.woocommerce-page .woocommerce-MyAccount-content form p {
    padding: 0 10px;
}

.woocommerce-thankyou-order-received {
    font-size: 24px;
    color: #4595e5;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
 right: 2rem;
}

/* WooCommerce 3.0 Gallery

.woocommerce-product-gallery {
position: relative;
margin-bottom: 3em
}

.woocommerce-product-gallery figure {
margin: 0
}

.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
width: 25%;
display: inline-block
}

.woocommerce-product-gallery .flex-control-thumbs li {
list-style: none;
float: left;
cursor: pointer
}

.woocommerce-product-gallery .flex-control-thumbs img {
opacity: .5
width: 70px;
}

.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
opacity: 1
}

.woocommerce-product-gallery img {
display: block
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
width: 33.3333%
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
width: 25%
}

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
width: 20%
}

.woocommerce-product-gallery__trigger {
position: absolute;
top: 1em;
right: 1em;
z-index: 99;
}

a.woocommerce-product-gallery__trigger {
text-decoration: none;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
position: absolute;
top: .875em;
right: .875em;
display: block;
height: 2em;
width: 2em;
border-radius: 3px;
z-index: 99;
text-align: center;
text-indent: -999px;
overflow: hidden;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
background-color: #169fda;
color: #ffffff;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
background-color: #1781ae;
border-color: #1781ae;
color: #ffffff;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
font: normal normal normal 1em/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
display: block;
content: "\f00e";
line-height: 2;
text-indent: 0;
}

*/
