.hentry {
  margin-bottom: 24px;
}

.sticky {
  margin-bottom: 24px;
}

.page-content {
  margin-bottom: 0;
}


.entry-classic {
  padding: 7px;
  background-color: #fff;
  &:not(:last-child) {
    margin-bottom: 0px;
    padding-bottom: 25px;
  }
  .entry-inner {
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
  }
  .entry-content {
    padding: 20px 20px 0;
    &:before {
      left: 0;
      top: 0;
      height: 2px;
      width: 20px;
      content: " ";
      position: absolute;
      background: @serpentine-red;
      transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
  .entry-title {
    font-size: 32px;
    font-weight: 200;
    line-height: 36px;
    color: @serpentine-red;
    margin-bottom: 15px;
  }
  .entry-date {
    font-size: 13px;
    text-decoration: none;
    position: absolute;
    top: -50px;
    right: 15px;
    color: @white;
    background-color: #4595e5;
    text-transform: uppercase;
    padding: 5px 10px;
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);
    z-index: 10;
    display: none;
  }
  .post-excerpt {
    color: @75-grey;
  }
  .post-thumb {
    max-height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .entry-meta {
    margin: -8px 0 24px;
  }
}

.entry-inner {
  &:hover {
    .entry-content {
      &:before {
        width: 100%;
      }
    }
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  }
}

.standard-post {
  .entry-thumb {
    max-height: 350px;
  }
}

.post {
  .parallax {
    background-position: 50%;
    margin-bottom: 50px;
    .color-overlay {
      padding: 280px 0 48px;
    }
  }
}

.post-thumb {
  .post-format-icon {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: @white;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    &:before {
      position: absolute;
      font-size: 36px;
      line-height: 36px;
      width: 36px;
      height: 36px;
      top: 48%;
      top: -webkit-calc(50% - 18px);
      top: calc(50% - 18px);
      left: 48%;
      left: -webkit-calc(50% - 18px);
      left: calc(50% - 18px);
      -webkit-transition: opacity .4s;
      -moz-transition: opacity .4s;
      transition: opacity .4s;
      opacity: .7;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  img {
    display: block;
  }
}

.related-content {
  .post-format-icon {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: @white;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    &:before {
      position: absolute;
      font-size: 36px;
      line-height: 36px;
      width: 36px;
      height: 36px;
      top: 48%;
      top: -webkit-calc(50% - 18px);
      top: calc(50% - 18px);
      left: 48%;
      left: -webkit-calc(50% - 18px);
      left: calc(50% - 18px);
      -webkit-transition: opacity .4s;
      -moz-transition: opacity .4s;
      transition: opacity .4s;
      opacity: .7;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
  position: absolute;
  padding: 20px 24px;
  width: 100%;
  .box-sizing-border-box;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  -webkit-transition: .3s background;
  -moz-transition: .3s background;
  transition: .3s background;
  &:hover {
    background: rgba(0, 0, 0, .62);
  }
  h3 {
    position: relative;
    font-size: 14px;
    line-height: 1.7142857;
    font-weight: 600;
    color: @white;
    margin: 0;
    z-index: 3;
  }
}

.entry-list {
  .post-thumb {
    .post-format-icon {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .owl-carousel {
    margin-bottom: 0;
  }
}

.content-grid {
  margin: 0 -12px;
}

.entry-grid {
  position: relative;
  margin: 0 0 24px;
  padding: 0 12px;
  border: none;
  color: @42-grey;
  background: #fff;
  .entry-inner {
    position: relative;
    .box-sizing-border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    .border-radius-2;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    transition-property: box-shadow;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
    .post-thumb {
      overflow: hidden;
      -webkit-border-radius: 2px 2px 0 0;
      -moz-border-radius: 2px 2px 0 0;
      border-radius: 2px 2px 0 0;
    }
  }
  .entry-content {
    padding: 20px 16px 12px;
  }
  .post-excerpt {
    margin-bottom: 4px;
    color: @75-grey;
  }
  .owl-carousel {
    margin-bottom: 0;
  }
  .entry-meta {
    color: @9e-grey;
    margin-bottom: 0;
  }
}

.owl-carousel {
  .entry-grid {
    padding: 0;
  }
}

.posts-slider {
  .owl-stage-outer {
    padding: 8px;
    margin: -8px;
  }
}

.product-carousel {
  .owl-stage-outer {
    padding: 8px;
    margin: -8px;
  }
}

.port-grid {
  .entry-grid {
    .entry-inner {
      .post-thumb {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      position: relative;
      overflow: hidden;
    }
    position: relative;
    margin: 0 0 4px;
    padding: 0 2px;
    .entry-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 0;
      opacity: 0;
      background: rgba(0, 0, 0, .62);
      .box-sizing-border-box;
      -webkit-transition: .4s opacity cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition: .4s opacity cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: .4s opacity cubic-bezier(0.4, 0, 0.2, 1);
      -ms-transition: .4s opacity cubic-bezier(0.4, 0, 0.2, 1);
      transition: .4s opacity cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 4;
    }
    &:hover {
      .entry-content {
        opacity: 1;
      }
    }
  }
  margin: 0 -2px 24px;
  .entry-inner {
    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  h2 {
    padding: 20px 24px;
    color: @white;
    a {
      &:hover {
        color: @white;
      }
    }
  }
  .entry-meta {
    color: @white;
    position: absolute;
    margin: 0;
    height: 64px;
    overflow-y: hidden;
    overflow-x: auto;
    bottom: 0;
    padding: 20px 24px;
    width: 100%;
    white-space: nowrap;
    .box-sizing-border-box;
    a {
      color: @white;
      &:hover {
        color: @white;
      }
    }
  }
  .meta-list {
    li.cat-links {
      &:hover {
        .mdi {
          color: @white;
        }
      }
    }
  }
}

.no-video {
  padding: 16px 16px 0;
  color: @75-grey;
  display: inline-block;
}

.related-posts {
  padding-bottom: 44px;
}

.related-grid {
  position: relative;
  margin: 0 -2px;
}

.related-inner {
  position: relative;
  width: 50%;
  float: left;
  padding: 0 2px 4px;
  .box-sizing-border-box;
}

.related-item {
  position: relative;
}

.related-actions {
  position: absolute;
  padding: 20px 24px;
  width: 100%;
  .box-sizing-border-box;
  bottom: 0;
  color: @white;
  z-index: 3;
  .ss-btn {
    line-height: 20px;
    font-weight: 400;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.owl-item {
  .entry-grid {
    margin-bottom: 0;
  }
}

.entry-content {
  position: relative;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.first-grid {
  clear: both;
}

.single {
  .tag-meta {
    clear: both;
  }
  .entry-meta {
    margin-bottom: 48px;
  }
  .meta-list {
    display: block;
    margin: 0 -12px;
    > li {
      padding: 0 12px;
    }
  }
  .entry-content {
    margin-bottom: 30px;
    margin-top: 45px;
  }
  .ss-sharing-container {
    .social-links {
      list-style: none;
      padding: 0;
    }
    span {
      float: left;
      line-height: 37px;
      margin-right: 20px;
      color: #333;
    }
  }
}

.entry-grid.ss-col-2 {
  &:nth-of-type(2n&+1) {
    clear: both;
  }
}

.entry-grid.ss-col-3 {
  &:nth-of-type(3n&+1) {
    clear: both;
  }
}

.entry-grid.ss-col-4 {
  &:nth-of-type(4n&+1) {
    clear: both;
  }
}

.entry-meta {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 0 16px;
  color: @75-grey;
}

.entry-meta.list {
  margin-bottom: 24px;
}

.entry-right {
  .entry-meta {
    margin-bottom: 20px;
  }
}

.meta-list {
  margin: 0 -8px;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 24px;
  display: inline-block;
  li {
    display: inline-block;
    font-size: 13px;
    line-height: 1.8461538;
  }
  > li {
    display: inline-block;
    padding: 0 8px;
  }
  a {
    color: inherit;
    display: inline-block;
    &:hover {
      color: @42-grey;
    }
  }
  li.cat-links {
    &:hover {
      .mdi {
        color: @42-grey;
      }
    }
  }
  li.tags-links {
    &:hover {
      .mdi {
        color: @42-grey;
      }
    }
  }
  .mdi {
    font-size: 18px;
    margin: 0 8px 0 0;
  }
}

.widget_recent_entries {
  .post-date {
    color: @9e-grey;
    display: block;
    font-size: 12px;
  }
}

.updated {
  &:not(.published) {
    display: none;
  }
}

.post-list {
  margin: 0 0 24px;
  padding: 0;
  list-style: none;
  > li {
    position: relative;
    overflow: hidden;
    padding: 10px 0 0 56px;
    border-bottom: none;
    &:after {
      content: "";
      width: 100%;
      display: block;
      padding: 10px 0 0;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
  }
  > li.no-image {
    padding: 10px 0 0 0;
  }
  .post-thumb {
    position: absolute;
    left: 0;
    width: 40px;
    background: none;
    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  h3 {
    clear: none;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
  }
  h4 {
    clear: none;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
  }
  .entry-meta {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }
}

.widget {
  .post-list {
    > li {
      position: relative;
      overflow: hidden;
      padding: 10px 0 0 56px;
      border-bottom: none;
      &:after {
        content: "";
        width: 100%;
        display: block;
        padding: 10px 0 0;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
      }
    }
    > li.no-image {
      padding: 10px 0 0 0;
    }
  }
}

.social-links {
  li {
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background: #fff;
    border: 1px solid #d0d0d0;
    margin-left: 5px;
    float: left;
    list-style: none;
    font-size: 18px;
    a {
      &:hover {
        color: @serpentine-red;
      }
      font-size: 17px;
      line-height: 39px;
      color: #888;
      display: block;
    }
    &:first-child {
      margin: 0;
      padding: 0;
      border: 1px solid #d0d0d0;
    }
  }
}

.nav-previous {
  float: left;
  width: 50%;
}

.previous-image {
  float: left;
  width: 50%;
}

.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.next-image {
  float: right;
  text-align: right;
  width: 50%;
}

.nav-single {
  & + .comments-area {
    margin: 0 0 24px;
  }
}

#comment-nav-above {
  margin: 0 0 24px;
}

.page-links {
  position: relative;
  clear: both;
  margin-bottom: 24px;
  color: @75-grey;
  a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 2px;
    text-align: center;
    color: @75-grey;
    .border-radius-2;
    &:hover {
      color: @42-grey;
      background: rgba(0, 0, 0, .07);
    }
    span {
      margin: 0;
      padding: 0;
    }
  }
  span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 2px;
    text-align: center;
  }
  span.page-links-title {
    margin: 0;
    padding: 0;
    color: @9e-grey;
  }
  span.screen-reader-text {
    margin: 0;
    padding: 0;
  }
}

.woocommerce {
  .navigation {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.navigation.pagination {
  position: relative;
  text-align: center;
  margin: 0 0 24px;
  padding-top: 16px;
  .nav-links {
    a {
      color: @75-grey;
      display: inline-block;
      padding: 8px 16px;
      margin: 0;
      .border-radius-2;
      -webkit-transition: .1s;
      -moz-transition: .1s;
      transition: .1s;
      &:hover {
        color: @42-grey;
        background: rgba(0, 0, 0, .07);
      }
    }
    span {
      color: @75-grey;
      display: inline-block;
      padding: 8px 16px;
      margin: 0;
      .border-radius-2;
      -webkit-transition: .1s;
      -moz-transition: .1s;
      transition: .1s;
    }
    .current {
      color: @42-grey;
      background: rgba(0, 0, 0, .07);
    }
  }
}

.post-navigation {
  position: relative;
  margin: 0 0 48px;
  padding: 48px 0 48px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-top: 1px solid rgba(0, 0, 0, .12);
  overflow: hidden;
}

.entry-footer {
  position: relative;
  margin: 0 0 48px;
  padding: 48px 0 48px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-top: 1px solid rgba(0, 0, 0, .12);
  .entry-meta {
    margin-bottom: 0;
  }
}

.nav-links {
  a {
    position: relative;
    color: @75-grey;
    &:hover {
      .post-title {
        color: @42-grey;
      }
      &:before {
        color: @42-grey;
      }
      &:after {
        color: @42-grey;
      }
    }
  }
  .post-title {
    font-size: 16px;
  }
  .meta-nav {
    color: @serpentine-red;
    display: block;
  }
  .nav-previous {
    a {
      padding: 0 0 0 32px;
      display: inline-block;
      &:before {
        position: absolute;
        top: 20px;
        font-family: @material-icons;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        width: 24px;
        height: 20px;
        line-height: .83334;
        line-height: 20px;
        text-transform: none;
        text-align: center;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        content: "\e5c4";
        left: 0;
      }
    }
  }
  .nav-next {
    a {
      padding: 0 32px 0 0;
      display: inline-block;
      &:after {
        position: absolute;
        top: 20px;
        font-family: @material-icons;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        width: 24px;
        height: 20px;
        line-height: .83334;
        line-height: 20px;
        text-transform: none;
        text-align: center;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        content: "\e5c8";
        right: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .single {
    .meta-list {
      white-space: nowrap;
      height: 24px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
  }
}
