//
// Dropdown menus
// --------------------------------------------------

// Dropdown arrow/caret
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid ~"\9"; // IE8
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

// The dropdown wrapper (div)
.dropup,
.dropdown {
  position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
  outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 100;
  display: none; // none by default, but block on "open" of the menu
  min-width: 160px;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: 14px;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: white;
  border: 1px solid #ccc; // IE8 fallback
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
/*  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 3px 8px rgba(0, 0, 0, 0.12); */
  -webkit-transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-clip: padding-box;
  position: static;
  float: none;
  padding: 10px;

  h4 {
    color: @42-grey;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .content, .phone, .link {
    color: @9e-grey;
    font-size: 13px;
    display: block !important;
  }
  .phone {
    padding-top: 15px;
    color: @serpentine-blue
  }
  .link {
    color: @serpentine-red;
    padding-top: 5px;
  }

  &.pull-right {
    right: 0;
    left: auto;
  }
}

.open > .dropdown-menu {
  display: block;
}
