#footer a {
    color: inherit;
  &:hover {
      color: inherit;
      opacity: .7;
  }
}


.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-align: center;
    z-index: 115;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &.scrolled {
      visibility: visible;
      opacity: 1;
    }

  a {
      display: block;
      width: 56px;
      height: 56px;
      color: @white;
      background: @serpentine-blue;
      z-index: 10;

      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 4px 8px 0 rgba(0, 0, 0, 0.12);

      .transition-02;

    &:hover {
        background: @serpentine-red;
        -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12), 0 6px 12px 0 rgba(0, 0, 0, 0.4);
    }

    &:active,
    &:focus {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
        background-image: -moz-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
        background-image: -ms-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
        background-image: -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
        background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        font-family: @material-icons;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 56px;
        display: inline-block;
        width: 56px;
        height: 56px;
        text-transform: none;
        text-align: center;
        vertical-align: middle;

        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';

        content: "\e316";

        .transition-03;
    }

    .ripple-svg {
        border-radius: 50%;
    }
  }
}

