.top-widget-area {
  position: relative;
  margin: 16px auto 0;
}

#header {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#utility-top {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 95;
  .lang-switcher {
    position: relative;
    display: inline-block;
    width: auto;
    height: 24px;
    z-index: 99;
    text-align: left;
    vertical-align: top;
    z-index: 100;
    margin: 0;
  }
  .currency-switcher {
    position: relative;
    display: inline-block;
    width: auto;
    height: 24px;
    z-index: 99;
    text-align: left;
    vertical-align: top;
  }
  select.wcml_currency_switcher {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    outline: none;
    background: transparent;
    line-height: 24px;
    height: 24px;
    min-height: 24px;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.header-main {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 100%;
  padding: 24px 0;
}

.global-topbar-enabled {
  .nav-enabled {
    transform: translateY(-32px);
  }
}

.perpage-topbar-disabled {
  .nav-enabled {
    transform: translateY(0);
  }
}

.nav-enabled {
  .header-main {
    padding: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  }
  .search-panel {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }
}

.is-stretched {
  #utility-top {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
  }
}

.callout-bar {
  position: relative;
  padding: 4px 0;
  white-space: nowrap;
  height: 32px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  a {
    color: inherit;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

#utility-links {
  padding: 0;
  text-align: right;
  #lang_sel {
    ul {
      ul {
        left: auto;
        right: 0;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }
    }
  }
}

.search-field {
  width: 100%;
}

.widget_product_search {
  #s {
    width: 100%;
  }
}

.yith-s {
  width: 100%;
  background-position: 85% center !important;
}

.search-form {
  position: relative;
  margin-bottom: 18px;
  .search-submit {
    visibility: hidden;
    display: none;
    &:hover {
      color: @42-grey;
    }
  }
}

#searchform {
  position: relative;
  margin-bottom: 18px;
}

.woocommerce-product-search {
  position: relative;
  margin-bottom: 18px;
  input[type="submit"] {
    visibility: hidden;
    display: none;
  }
}

#search-bar {
  .search-form {
    margin-bottom: 0;
  }
  .woocommerce-product-search {
    margin-bottom: 0;
  }
}

#yith-searchsubmit {
  visibility: hidden;
  display: none;
}

.autocomplete-suggestions {
  padding: 8px 0;
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  .border-radius-2;
}

.autocomplete-suggestion {
  font-size: 12px;
  line-height: 24px;
  padding: 4px 16px;
  &:hover {
    background-color: rgba(0, 0, 0, .06);
  }
}

.utility-nav {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  font-size: 0;
  li {
    font-size: 1rem;
    display: inline-block;
    a {
      &:hover {
        opacity: .7;
      }
    }
    .mdi {
      font-size: 18px;
      width: 24px;
      height: 20px;
      margin: 0 4px 0 0;
      text-align: center;
    }
  }
  li.welcome {
    margin: 4px 8px;
  }
  li.currency-switcher {
    margin: 4px 8px;
  }
  > li {
    > a {
      display: inline-block;
      margin: 0;
      padding: 4px 8px;
      color: inherit;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  li.cart-status {
    a {
      border: none;
    }
    span.amount {
      display: inline-block;
    }
  }
}

.currency-switcher {
  img {
    display: none;
  }
}

#lang_sel {
  width: auto;
  height: auto;
  font-family: @font-family-inherit;
  font-size: inherit;
  color: inherit;
  a {
    font-size: inherit;
    background: transparent !important;
    border: none;
    padding: 0;
    &:visited {
      font-size: inherit;
      background: transparent !important;
      border: none;
      padding: 0;
    }
  }
  ul {
    li {
      float: none;
      border: none;
      width: auto;
      &:hover {
        background: rgba(0, 0, 0, .07);
      }
    }
    ul {
      li {
        width: 100%;
      }
      position: absolute;
      margin: 0;
      padding: 8px 0 !important;
      list-style: none;
      width: 192px;
      height: auto;
      border-top: none;
      top: auto;
      background: #fff;
      .box-sizing-border-box;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      -ms-transition: .3s;
      transition: .3s;
      .border-radius-2;
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      a {
        color: @75-grey;
        height: auto;
        padding: 6px 16px;
        border: none;
        line-height: 24px;
        display: block;
        &:visited {
          color: @75-grey;
          height: auto;
          padding: 6px 16px;
          border: none;
          line-height: 24px;
          display: block;
        }
      }
    }
  }
  > ul {
    > li {
      padding: 0 !important;
      &:hover {
        > ul {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  a.lang_sel_sel {
    padding: 4px 12px;
    color: @black-07-opacity;
    background-image: none;
    border-radius: 0;
    border: 0;
    line-height: 24px;
    &:hover {
      padding: 4px 12px;
      color: @black-07-opacity;
      background-image: none;
      border-radius: 0;
      border: 0;
      line-height: 24px;
    }
  }
}

.lang_sel_sel {
  img {
    display: none;
  }
}

.scheme-white {
  #lang_sel {
    a.lang_sel_sel {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  .logo-primary {
    display: none;
  }
}

img.iclflag {
  display: inline;
}

#lang_sel_footer {
  margin: 0;
  padding: 8px 0;
  text-align: center;
  font-family: @font-family-inherit;
  font-size: 12px;
  line-height: 1.6667;
  min-height: 15px;
  clear: both;
  background-color: #fff;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .12);
  ul {
    li {
      line-height: 1.6667;
      margin: 0 8px;
      a {
        display: inline-block;
        padding: 14px 8px;
        color: @75-grey;
        font-weight: 600;
        letter-spacing: .1px;
        text-transform: uppercase;
        &:visited {
          display: inline-block;
          padding: 14px 8px;
          color: @75-grey;
          font-weight: 600;
          letter-spacing: .1px;
          text-transform: uppercase;
        }
        &:hover {
          color: @42-grey;
        }
      }
    }
  }
}

.brand {
  padding: 0;
  .box-sizing-border-box;
  float: left;
  width: 30%;
  padding: 0 20px;
  line-height: 0;
}

.menu-area {
  padding: 0;
  .box-sizing-border-box;
  position: static;
  float: none;
  clear: both;
  width: 100%;
  padding: 0 20px;
  .box-sizing-border-box;
}

.header-widget-area {
  padding: 0;
  .box-sizing-border-box;
  float: right;
  padding: 16px 0 0;
  width: 70%;
}

.site-header.full-width {
  .header-main {
    .brand {
      width: 100%;
      float: none;
      .site-description {
        margin-bottom: 16px;
      }
    }
  }
}

.header-widget-area.full-width {
  float: none;
  width: 100%;
  padding: 0;
}

.site-header.normal {
  .header-widget-area {
    width: 70%;
  }
  .menu-area {
    clear: none;
    float: right;
    width: 70%;
    max-height: 64px;
    #main-nav {
      float: left;
      text-align: left;
    }
  }
  .expand-full {
    #main-nav {
      max-width: 100%;
      float: right;
    }
  }
  .primary-nav {
    .nav-menu {
      margin-left: -20px;
    }
  }
}

.site-title {
  img {
    /*max-height: 56px;*/
    padding: 8px 0 0 10px;
    vertical-align: top;
  }
  a {
    color: inherit;
  }
}

.scheme-white.force-white {
  .logo-dark {
    display: none;
  }
  .nav-enabled {
    .logo-primary {
      display: none;
    }
    .logo-dark {
      display: block;
    }
  }
  .resp-menu-logo {
    .logo-dark {
      display: block;
    }
  }
  #header {
    &:not(.nav-enabled) {
      .logo-primary {
        display: block;
      }
    }
  }
}

.brand.text-center {
  .site-title {
    img {
      margin: 0 auto;
    }
  }
}

.site-description {
  display: block;
  font-size: 14px;
  line-height: 1.4285714;
  font-weight: 400;
  margin-top: -8px;
}

#main-nav {
  width: auto;
  display: inline-block;
  max-width: 90%;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  z-index: 9;
  font-size: 0;
  height: 64px;
  li {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    a {
      span {
        display: block;
        font-size: 85%;
      }
    }
    &:hover {
      > ul {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
    }
    li {
      width: 100%;
      float: none;
      border: none;
    }
    ul {
      li {
        a {
          float: none;
          display: block;
          margin: 0;
          color: @75-grey;
          font-size: 13px;
          line-height: 1.84615385;
          padding: 8px 16px;
          white-space: normal;
          text-transform: none;
          font-weight: 400;
          text-shadow: none;
          border: none;
          border-radius: 0;
          letter-spacing: normal;
          -webkit-transition: none;
          -moz-transition: none;
          -ms-transition: none;
          -o-transition: none;
          transition: none;
        }
        &:last-child {
          a {
            border-bottom: none;
          }
        }
        &:hover {
          > a {
            color: @serpentine-blue;
            background: rgba(0, 0, 0, .07);
          }
        }
        > a {
          &:hover {
            color: @serpentine-blue;
            background: rgba(0, 0, 0, .07);
          }
        }
      }
    }
  }
  > li {
    > a {
      display: block;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      height: 24px;
      padding: 20px 16px 18px;
      letter-spacing: .25px;
      border-bottom: 2px solid;
      border-color: transparent;
      color: inherit;
      text-transform: uppercase;
      text-decoration: none;
      opacity: .7;
      -webkit-transition: .2s;
      -moz-transition: .2s;
      -o-transition: .2s;
      -ms-transition: .2s;
      transition: .2s;
      -webkit-transition-property: border-bottom opacity;
      transition-property: border-bottom opacity;
    }
    &:hover {
      > a {
        opacity: 1;
        color: @white;
      }
    }
  }
  ul {
    position: absolute;
    margin: 0;
    padding: 8px 0;
    list-style: none;
    width: 224px;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    top: auto;
    background: #fff;
    z-index: 10;
    .box-sizing-border-box;
    .border-radius-2;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
    -webkit-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    li {
      position: relative;
    }
    ul {
      top: 0;
      left: 100%;
      a {
        padding-left: 24px;
      }
      ul {
        a {
          padding-left: 24px;
        }
        ul {
          a {
            padding-left: 24px;
          }
        }
      }
    }
    li.menu-item-has-children {
      > a {
        padding-right: 8px;
      }
    }
  }
  > li.current-menu-item {
    > a {
      opacity: 1;
      color: inherit;
      border-bottom-color: #4595e5;
      &:hover {
        opacity: 1;
        color: inherit;
        border-bottom-color: #4595e5;
      }
    }
  }
  > li.current-menu-parent {
    > a {
      opacity: 1;
      color: inherit;
      border-bottom-color: #4595e5;
      &:hover {
        opacity: 1;
        color: inherit;
        border-bottom-color: #4595e5;
      }
    }
  }
  > li.current-menu-ancestor {
    > a {
      opacity: 1;
      color: inherit;
      border-bottom-color: #4595e5;
      &:hover {
        opacity: 1;
        color: inherit;
        border-bottom-color: #4595e5;
      }
    }
  }
  > li.current_page_parent {
    > a {
      opacity: 1;
      color: inherit;
      border-bottom-color: #4595e5;
      &:hover {
        opacity: 1;
        color: inherit;
        border-bottom-color: #4595e5;
      }
    }
  }
  > li.active {
    > a {
      opacity: 1;
      color: inherit;
      border-bottom-color: #4595e5;
      &:hover {
        opacity: 1;
        color: inherit;
        border-bottom-color: #4595e5;
      }
    }
  }
}

.menu-notifier {
  padding: 20px 0;
  display: inline-block;
  opacity: .7;
}

.cart-widget {
  position: relative;
  display: inline-block;
  .widget_shopping_cart {
    .widgettitle {
      display: none;
    }
  }
}

.cart-count {
  position: relative;
  display: inline-block;
  margin-left: 4px;
}

.wishlist-count {
  position: relative;
  display: inline-block;
  margin-left: 4px;
}

.cart-submenu {
  position: absolute;
  background: #fff;
  color: @42-grey;
  text-align: left;
  z-index: 105;
  opacity: 0;
  visibility: visible;
  .box-sizing-border-box;
  .border-radius-2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -webkit-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  width: 271px;
  top: auto;
  right: 0;
  .widget_shopping_cart_content {
    overflow-y: auto;
    padding: 16px 16px 0;
    max-height: 392px;
    .cart_list {
      > li {
        &:first-child {
          &:not(.empty) {
            padding-top: 8px;
          }
        }
      }
    }
  }
  .product_list_widget {
    margin: 0 !important;
  }
}

.product-actions-overlay {
  position: absolute;
  background: #fff;
  color: @42-grey;
  text-align: left;
  z-index: 105;
  opacity: 0;
  visibility: visible;
  .box-sizing-border-box;
  .border-radius-2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -webkit-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  width: auto;
  min-width: 124px;
  padding: 8px 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.post-actions-overlay {
  position: absolute;
  background: #fff;
  color: @42-grey;
  text-align: left;
  z-index: 105;
  opacity: 0;
  visibility: visible;
  .box-sizing-border-box;
  .border-radius-2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -webkit-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  width: auto;
  min-width: 124px;
  padding: 8px 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  width: auto;
  max-width: 192px;
  max-height: 224px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.social-actions-overlay {
  position: absolute;
  background: #fff;
  color: @42-grey;
  text-align: left;
  z-index: 105;
  opacity: 0;
  visibility: visible;
  .box-sizing-border-box;
  .border-radius-2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24), 0 3px 8px rgba(0, 0, 0, .12);
  -webkit-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: .3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.col-md-2 {
  .product-actions-overlay {
    min-width: 0;
  }
}

.cart-submenu.cart-active {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.product-actions-overlay.panel-active {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.post-actions-overlay.panel-active {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.social-actions-overlay.panel-active {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.header-icons {
  position: absolute;
  width: auto;
  right: 0;
  bottom: 0;
  > div {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.header-search-widget {
  position: relative;
  display: inline-block;
  padding: 0;
  .search-trigger {
    display: inline-block;
    padding: 20px 12px;
    min-width: 24px;
    max-height: 24px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition-property: opacity, transform;
    -moz-transition-property: opacity, transform;
    -ms-transition-property: opacity, transform;
    -o-transition-property: opacity, transform;
    transition-property: opacity, transform;
    &:hover {
      opacity: .75;
      color: inherit;
    }
  }
  .search-trigger.search-btn-active {
    opacity: .7;
  }
  .mdi {
    font-size: 24px;
    line-height: 1;
  }
}

.header-menu-icon {
  position: relative;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: -20px;
  padding: 0;
  display: none;
  z-index: 9;
  .menu-trigger {
    display: inline-block;
    padding: 20px 12px;
    min-width: 24px;
    max-height: 24px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 16px;
    &:hover {
      opacity: .75;
      color: inherit;
    }
  }
  .mdi {
    font-size: 24px;
    line-height: 1;
  }
}

.header-wishlist-count {
  position: relative;
  display: inline-block;
  .wishlist-button {
    &:hover {
      opacity: .75;
      color: inherit;
    }
  }
  .mdi {
    font-size: 24px;
    line-height: 1;
  }
}

.cart-contents-2 {
  display: inline-block;
  padding: 20px 12px;
  min-width: 24px;
  max-height: 24px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    opacity: .75;
    color: inherit;
  }
  .mdi {
    font-size: 24px;
    line-height: 1;
  }
}

.wishlist-button {
  display: inline-block;
  padding: 20px 12px;
  min-width: 24px;
  max-height: 24px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.cart-btn-active {
  opacity: .7;
}

.header-callout-text {
  float: right;
  display: inline-block;
  width: auto;
  text-align: right;
  padding: 20px 0;
}

.header-callout-text.float-right {
  float: right;
  text-align: right;
}

.search-panel {
  position: absolute;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  .box-sizing-border-box;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .24), 0 6px 8px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .24), 0 6px 8px rgba(0, 0, 0, .12);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .24), 0 6px 8px rgba(0, 0, 0, .12);
  -webkit-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, visibility .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, visibility .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, visibility .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, box-shadow .3s ease-in-out, visibility .3s ease-in-out;
  z-index: 1;
  .search-field {
    font-size: 20px;
    line-height: 1.6;
    line-height: 32px;
    padding: 16px 40px;
    height: 64px;
    color: @42-grey;
    background: transparent;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .yith-s {
    font-size: 20px;
    line-height: 1.6;
    line-height: 32px;
    padding: 16px 40px;
    height: 64px;
    color: @42-grey;
    background: transparent;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .woocommerce-product-search {
    &:before {
      position: absolute;
      left: 0;
      top: 20px;
      color: @75-grey;
      font-family: @material-icons;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 1;
      line-height: 24px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      content: "\e8b6";
    }
    margin-bottom: 0;
  }
  .search-form {
    &:before {
      position: absolute;
      left: 0;
      top: 20px;
      color: @75-grey;
      font-family: @material-icons;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 1;
      line-height: 24px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      content: "\e8b6";
    }
    margin-bottom: 0;
  }
  form {
    &:before {
      position: absolute;
      left: 0;
      top: 20px;
      color: @75-grey;
      font-family: @material-icons;
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 1;
      line-height: 24px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      content: "\e8b6";
    }
  }
  .search-close {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 24px;
    width: 48px;
    height: 48px;
    text-align: center;
    color: @75-grey;
    &:hover {
      opacity: .7;
    }
  }
  #searchform {
    margin-bottom: 0;
  }
  .autocomplete-suggestions {
    color: @42-grey;
    border: none;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  }
}

.search-panel.search-active {
  opacity: 1;
  visibility: visible;
}

#resp-menu {
  position: fixed;
  overflow: visible;
  width: 272px;
  background: #fff;
  color: inherit;
  top: 0;
  left: -272px;
  margin: 0;
  padding: 0 !important;
  height: 100%;
  z-index: 113;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.resp-menu-mask {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0.1;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 112;
  position: fixed;
  -webkit-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.shop-sb-mask {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0.1;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 112;
  position: fixed;
  -webkit-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.resp-menu {
  height: 90%;
  height: ~"-webkit-calc(100% - 72px)";
  height: ~"-moz-calc(100% - 72px)";
  height: ~"-o-calc(100% - 72px)";
  height: ~"calc(100% - 72px)";
  overflow: auto;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 16px;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    float: none;
    width: 100% !important;
    a {
      padding: 12px 16px;
      display: block;
    }
    ul {
      border-top: 1px solid rgba(0, 0, 0, .07);
      background: rgba(0, 0, 0, .03);
    }
  }
  > li.active {
    > a {
      background: rgba(0, 0, 0, .6);
      color: @white;
    }
  }
  a {
    color: inherit;
    &:hover {
      color: @42-grey;
      background: rgba(0, 0, 0, .04);
    }
  }
  .expand-menu {
    position: absolute;
    top: 0;
    right: 8px;
    padding: 12px;
    color: @9e-grey;
    &:hover {
      background: transparent;
      color: @42-grey;
    }
    .mdi {
      width: 24px;
      font-size: 24px;
      line-height: 1;
      height: 24px;
      text-align: center;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      -ms-transition: .3s;
      transition: .3s;
    }
    .rotate-180 {
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
      transform: rotateZ(180deg);
    }
  }
  .rotate-180 {
    color: @42-grey;
  }
}

.resp-menu-logo {
  position: relative;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .06);
  background-color: @serpentine-red;
}

.mobile-close {
  display: none;
  i {
    position: absolute;
    top: 12px;
    right: 25px;
    font-size: 40px;
    z-index: 999;
    color: @white;
  }
}

.show-nav {
  .mobile-close {
    display: block;
  }
}

.hero-area {
  position: relative;
  background-repeat: no-repeat;
  color: @white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.force-white {
  #header {
    .hero-area.with-bg {
      &:not(.custom-html) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        min-height: 128px;
      }
    }
    .hero-area.custom-html {
      position: relative;
    }
  }
}

.hero-area.separated {
  .container {
    position: static;
  }
  .page-title {
    position: absolute;
    bottom: 0;
  }
}

.breadcrumbs {
  position: relative;
  margin: 0 0 30px;
  color: @9e-grey;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 24px;
  -webkit-overflow-scrolling: touch;
  a {
    color: inherit;
    &:hover {
      color: @42-grey;
    }
  }
  .delimiter {
    &:before {
      font-family: @material-icons;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      line-height: 1.3333;
      display: inline-block;
      width: 20px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      content: "\e315";
    }
  }
}

.woocommerce-breadcrumb {
  position: relative;
  margin: 0 0 30px;
  color: @9e-grey;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 24px;
  -webkit-overflow-scrolling: touch;
  a {
    color: inherit;
    &:hover {
      color: @42-grey;
    }
  }
  .delimiter {
    &:before {
      font-family: @material-icons;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      line-height: 1.3333;
      display: inline-block;
      width: 20px;
      text-transform: none;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      content: "\e315";
    }
  }
}

@media only screen and (min-width: 960px) {
  .brand.text-center {
    padding-left: 0;
  }

  .nav-menu {
    .mega-menu {
      position: static !important;
      > .sub-menu {
        padding-bottom: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        ul {
          position: relative;
          width: auto;
          display: block !important;
          left: 0;
          top: 0;
          border: none;
          margin: 0;
          padding: 0;
          opacity: 1;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          -ms-transform: none;
          transform: none;
        }
        > li {
          > a {
            color: @42-grey;
            display: inline-block;
            font-size: 14px;
            line-height: 1.7142857;
            font-weight: 600;
            text-decoration: none !important;
            background: none !important;
          }
          &:last-child {
            > a {
              color: @42-grey;
              display: inline-block;
              font-size: 14px;
              line-height: 1.7142857;
              font-weight: 600;
              text-decoration: none !important;
              background: none !important;
            }
          }
          float: left;
          padding: 0 0 8px;
          .box-sizing-border-box;
        }
      }
      > ul {
        > li {
          &:hover {
            > a {
              color: @42-grey;
              display: inline-block;
              font-size: 14px;
              line-height: 1.7142857;
              font-weight: 600;
              text-decoration: none !important;
              background: none !important;
            }
          }
        }
      }
    }
    .mega-menu.full-width {
      > .sub-menu {
        width: 100%;
        left: 0;
      }
    }
    li.mega-menu {
      ul {
        ul {
          a {
            padding: 8px 16px;
            margin: 0;
          }
        }
        li.menu-item-has-children {
          > a {
            padding: 8px 16px;
            margin: 0;
            color: @42-grey;
            display: inline-block;
            font-size: 14px;
            line-height: 1.7142857;
            font-weight: 600;
            text-decoration: none !important;
            background: none !important;
          }
        }
      }
    }
  }

  .mega-menu {
    li.menu-item-has-children {
      > a {
        &:after {
          display: none;
        }
      }
    }
  }

  .mega-menu.mega-2col {
    > .sub-menu {
      width: 448px;
      > li {
        width: 50%;
        &:nth-child(2n&+3) {
          clear: both;
        }
      }
    }
  }

  .mega-menu.mega-3col {
    > .sub-menu {
      width: 624px;
      > li {
        width: 33.33%;
        &:nth-child(3n&+4) {
          clear: both;
        }
      }
    }
  }

  .mega-menu.mega-4col {
    > .sub-menu {
      width: 800px;
      > li {
        width: 25%;
        &:nth-child(4n&+5) {
          clear: both;
        }
      }
    }
  }

  .mega-menu.mega-5col {
    > .sub-menu {
      width: 832px;
      > li {
        width: 20%;
        &:nth-child(5n&+6) {
          clear: both;
        }
        &:nth-child(6n&+7) {
          clear: both;
        }
      }
    }
  }

  .mega-menu.mega-6col {
    > .sub-menu {
      width: 100%;
      left: 0;
      > li {
        width: 16.6666%;
      }
    }
  }
}
