/* Helper and utility classes */

.text-uppercase {
    text-transform: uppercase;
}

.text-nocase {
    text-transform: none;
}

.text-underline {
    border-bottom: 1px dotted;
    border-color: inherit;
}

.text-danger {
    color: red;
}

.text-info {
    color: #0D47A1;
}

.text-success {
    color: green;
}

.text-highlight {
    color: @serpentine-red;
    text-shadow: none;
}

.text-inverted {
    background: @serpentine-red;
    color: @white;
    text-shadow: none;
}

.text-muted {
    color: @9e-grey;
}

.text-muted a {
    color: inherit;
  &:hover {
      color: @42-grey;
  }
}


.text-white {
    color: @white;
}

.text-coral {
    color: #ff5252;
}

.text-yellow {
    color: #ffeb3b;
}

.text-red {
    color: @serpentine-red;
}

.text-orange {
    color: #ffa726;
}

.text-primary {
    color: #212121;
}

.section-inverse .text-muted {
    color: rgba(255, 255, 255, .54);
}

.text-spaced {
    letter-spacing: .075em;
}

.font-lighter {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-medium_light {
    font-weight: 500;
}

.font-medium {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-tight {
    line-height: 1;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.font-opensans {
    font-family: "Open Sans", sans-serif;
}

.font-default {
    font-family: sans-serif;
}

.font-serif {
    font-family: "Georgia", serif;
}

.center {
    text-align: center;
}

.bottom-0 {
    margin-bottom: 0;
}

.bottom-4 {
    margin-bottom: 4px;
}

.bottom-8 {
    margin-bottom: 8px;
}

.bottom-12 {
    margin-bottom: 12px;
}

.bottom-16 {
    margin-bottom: 16px;
}

.bottom-20 {
    margin-bottom: 20px;
}

.bottom-24 {
    margin-bottom: 24px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.bottom-32 {
    margin-bottom: 32px;
}

.bottom-40 {
    margin-bottom: 40px;
}

.bottom-48 {
    margin-bottom: 48px;
}

.bottom-64 {
    margin-bottom: 64px;
}

.bottom-80 {
    margin-bottom: 80px;
}

.bottom-100 {
    margin-bottom: 100px;
}

.top-10 {
    margin-top: 10px;
}

.top-20 {
    margin-top: 20px;
}

.top-30 {
    margin-top: 30px;
}

.top-60 {
    margin-top: 60px;
}

.top-100 {
    margin-top: 100px;
}

.no-margin {
    margin: 0 !important;
}

.flush-bottom {
    padding-bottom: 0;
}

.flush-top {
    padding-top: 0;
}

.bar-center:after,
.bar-left:after,
.bar-right:after,
.dbar-center:after,
.dbar-left:after,
.dbar-right:after {
    content: "";
    display: block;
    position: relative;
    margin: 16px auto 0;
    width: 150px;
    border-bottom: 2px solid @serpentine-red;
}

.dbar-center:after,
.dbar-left:after,
.dbar-right:after {
    border-bottom: 4px double @serpentine-red;
}

.bar-left:after,
.dbar-left:after {
    margin-left: 0;
}

.bar-right:after,
.dbar-right:after {
    margin-right: 0;
}

.bar-short:after {
    margin-top: 5px;
}

.heading-classic {
    position: relative;
  span {
      position: relative;
      display: inline-block;
      background: @white;
      z-index: 2;
      padding: 0 16px 0 0;
  }

  .text-center span {
      padding: 0 16px;
      margin: 0;
  }

  .text-right span {
      padding: 0 0 0 16px;
      margin: 0 16px 0 0;
  }
  &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      top: 50%;
      left: 0;
      z-index: 1;
  }
}


.subheader-line {
    position: relative;
    padding: 12px 0;

  &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      top: 0;
      left: 0;
      z-index: 1;
  }
}

.heading-btn {
    font-size: 14px;
    line-height: 1.7142857;
    display: inline-block;
    color: @75-grey;

  &:hover {
      color: inherit;
  }
}


.text-piped {
    padding: 5px 0;
    display: inline-block;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.text-xxxl,
.text-112 {
    font-size: 112px;
    line-height: 144px;
    letter-spacing: -.05em;
}

.text-xxl,
.text-98 {
    font-size: 98px;
    line-height: 128px;
    letter-spacing: -.025em;
}

.text-xl,
.text-56 {
    font-size: 56px;
    line-height: 60px;
}

.text-l,
.text-45 {
    font-size: 45px;
    line-height: 48px;
}

.text-34 {
    font-size: 34px;
    line-height: 40px;
}

.text-24 {
    font-size: 24px;
    line-height: 32px;
}

.text-m,
.text-16 {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 600;
}

.text-d,
.text-14 {
    font-size: 14px;
    line-height: 1.7142857;
}

.text-12 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2px;
}

.text-tight {
    line-height: 20px;
}

.pad-left-32 {
    position: relative;
    padding-left: 32px;
}

.section-subheader {
    font-size: 16px;
    line-height: 1.5;
    color: @9e-grey;
    text-transform: uppercase;
    letter-spacing: .25px;
}

.pad-right-32 {
    padding-right: 32px;
}

.pad-left-24 {
    padding-left: 24px;
}

.pad-right-24 {
    padding-right: 24px;
}

.pad-left-16 {
    padding-left: 16px;
}

.pad-right-16 {
    padding-right: 16px;
}

/**
 * Fluid texts
 * Scales in proportion when kept inside
 * .fluid-text class name
 */

.fluid-text h1,
.fluid-text .h1 {
    font-size: 2.615385em;
    line-height: 1.1765;
}

.fluid-text .ss-overlay h1,
.fluid-text .ss-overlay .h1 {
    margin-bottom: .2353em;
}

.fluid-text h2,
.fluid-text .h2 {
    font-size: 1.84615em;
    line-height: 1.33334;
}

.fluid-text h3,
.fluid-text .h3 {
    font-size: 1.4285714em;
    line-height: 1.4;
}

.fluid-text h4,
.fluid-text h5,
.fluid-text .h4,
.fluid-text .h5 {
    font-size: 1.23077em;
    line-height: 1.75;
}

.fluid-text h6,
.fluid-text .h6 {
    font-size: 1.076923em;
    line-height: 1.7142857;
}

.fluid-text .text-piped {
    padding: .384615em 0;
}

.fluid-text .text-xxxl {
    font-size: 8.615384615em;
    line-height: 1.285714285;
}

.fluid-text .text-xxl {
    font-size: 7.5385em;
    line-height: 1.306122;
}

.fluid-text .text-xl {
    font-size: 4.3076923em;
    line-height: 1.0714285;
}

.fluid-text .text-l {
    font-size: 3.46153846em;
    line-height: 1.155556;
}

.fluid-text .text-m {
    font-size: 1.23077em;
    line-height: 1.5
}

.fluid-text .text-s {
    font-size: 0.923077em;
    line-height: 1.66667;
}

.fluid-text p {
    font-size: 1em;
}

.fluid-text .bottom-0 {
    margin-bottom: 0 !important;
}

.list-inline {
    position: relative;
    margin: 0 -8px;
    padding: 0;
    font-size: 0;

  li {
      display: inline-block;
      font-size: 1rem;
      padding: 0 8px;
  }
}


.custom-link {
    color: inherit;

  &:hover {
      color: inherit;
      opacity: .7;
  }
}
