/* Clearing Margins */
.last {
  margin-right: 0;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }

}

/* Other classes */
.overflow-hidden {
  overflow: hidden;
}

.force-full-width {
  margin: 0 -100%;
}

.force-full-width.parallax {
  background-attachment: fixed;
  background-position: 50% 0;
  padding: 128px 0 64px;
  .color-overlay.dark {
    background: rgba(0, 0, 0, .62);
  }
  .color-overlay {
    > div {
      max-width: 33.333%;
      margin: 0 auto;
    }
  }
}

.section-inverse {
  color: @white;
}

/* Other miscellaneous classes */
.my-ad {
  position: relative;
  overflow: hidden;
  padding: 24px;
  background: #fafafa;
  border: 1px dashed rgba(0, 0, 0, .12);
  color: @75-grey;
  text-align: center;
}

/* Make iFrame and Embeds reponsive
.embed-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    padding-bottom: 56.25%;
    padding-top: 2em;
    height: 0;
}

.single-post .entry-content .embed-wrap {
    margin-bottom: 30px;
}

.embed-wrap iframe,
.embed-wrap object,
.embed-wrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.entry-list .embed-wrap {
    margin-bottom: 0;
}

.entry-grid .embed-wrap {
    margin-bottom: 0;
} */

/* Icon lists */
.icon-text {
  position: relative;
  padding-left: 56px;
}

.icon-text .icon {
  position: absolute;
  left: 0;
  display: block;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;

  &.colored {
    color: @serpentine-red;
  }

  &.larger {
    font-size: 34px;
  }
}

/* Hide non printable areas */
@media print {
  #utility-top, #header, #sidebar, .secondary, #footer, .breadcrumbs, .ss-sharing-container, .author-info, .related-posts, #comments, .single-entry-meta:after, .scroll-to-top {
    display: none !important;
  }
}

.btn-alt {
  background-color: @serpentine-red;
  &:visited {
    background-color: @serpentine-red;
  }
}

input[type="submit"].btn-alt {
  background-color: @serpentine-red;
}

.btn-line {
  font-weight: normal;
  background: transparent;
  color: @75-grey;
  border: 1px solid rgba(0, 0, 0, .24);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  &:active {
    font-weight: normal;
    background: transparent;
    color: @75-grey;
    border: 1px solid rgba(0, 0, 0, .24);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    color: @9e-grey;
    border-color: #ccc;
  }
  &:focus {
    font-weight: normal;
    background: transparent;
    color: @75-grey;
    border: 1px solid rgba(0, 0, 0, .24);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, .48);
    background-image: none;
    color: #212121;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.section-inverse {
  .btn-line {
    color: @black-07-opacity;
    border: 1px solid rgba(255, 255, 255, .7);
    &:active {
      color: @black-07-opacity;
      border: 1px solid rgba(255, 255, 255, .7);
      color: @black-07-opacity;
      border-color: rgba(255, 255, 255, .7);
    }
    &:focus {
      color: @black-07-opacity;
      border: 1px solid rgba(255, 255, 255, .7);
    }
    &:hover {
      border-color: #fff;
      color: @serpentine-red;
    }
  }
}

.flat-btn.ss-lightbox {
  margin: 0;
}

.feature-list {
  .fa {
    background: @serpentine-red;
  }
  .icon {
    color: @serpentine-red;
  }
}

.icon-box {
  .icon {
    color: @serpentine-red;
  }
}

.woocommerce .product_meta .ss-no-variant-container {
  margin-bottom: 20px;
  color: @white;
  &:hover {
    color: @white;
  }
  span {
    display: inline-block;
  }
}

.header-main {
  padding: 0;
}

