.darkShadow {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
}

.darkShadow2 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24)
}

.darkerShadow {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.greyShadow {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .12);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .12);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .12);
}

.serpentineRedShadow {
  -webkit-box-shadow: 0 2px 0 @serpentine-red;
  -moz-box-shadow: 0 2px 0 @serpentine-red;
  box-shadow: 0 2px 0 @serpentine-red;
}

.remove-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.box-sizing-border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.border-radius-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.transition-box-shadow {
  -webkit-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-02{
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

.transition-03 {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}

.transition-05-ease {
  -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      -ms-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
}

.in_stock {
  color: #83bb23;
  font-weight: 700;
}
