html {
  font-size: 87.5%;
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: @d4-grey;
  background: @white;
  font-family: @open-sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.846153846;
  overflow: hidden;
}

a {
  color: @serpentine-blue;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  &:focus {
    outline: none;
  }
  &:hover, &:active {
    outline: 0;
    color: @dark-blue;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
  letter-spacing: normal;
  margin: 0 0 24px;
  color: inherit;
  visibility: inherit !important; /* Override for CSS styles added in head node by plugins */
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}

.site-title {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.hero-area {
  .page-title {
    font-size: 45px;
    line-height: 48px;
    padding: 48px 0;
    margin: 0;
    color: @white;
  }
}

h1,
.h1 {
  font-size: 34px;
  line-height: 1.1765;
  margin-bottom: 24px;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 1.33334;
}

.entry-list h2,
.product_title {
  margin-bottom: 16px;
}

.entry-grid h2 {
  margin-bottom: 8px;
}

h3,
.h3,
.woocommerce-checkout h2 {
  font-size: 20px;
  line-height: 1.6;
}

.woocommerce-checkout h2 {
  padding-top: 16px;
}

.ss-sharing-container h3,
.author-info h3,
.related-posts > h3,
.comment-respond > h3,
.woocommerce .cart_totals h2,
.woocommerce .related.products h2,
.wc-tab h2,
.woocommerce-checkout .entry-content h3 {
  font-size: 14px;
  line-height: 1.4285714;
  font-weight: bold;
  margin-bottom: 30px;
}

.ss-sharing-container h3 {
  margin: 12px 0;
}

h4,
h5,
.h4,
.h5 {
  font-size: 16px;
  line-height: 1.75;
}

h6,
.h6 {
  font-size: 14px;
  line-height: 1.7142857;
  margin-bottom: 24px;
}

.site-title {
  font-size: 0;
  line-height: 1.33334;
  line-height: 32px;
  padding: 16px 0;
  margin-bottom: 0;

  &.logo-image {
    padding: 0;
  }

  a span {
    color: @serpentine-blue;
  }
}

.widget-title {
  font-size: 14px;
  line-height: 1.7142857;
  font-weight: 600;
  margin-bottom: 24px;
  color: @61-grey;
}

.main-sidebar {
  .widget-title {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 600;
    color: @9e-grey;
    text-transform: uppercase;
    margin-top: 30px;

    &:after {
      content: "";
      display: block;
      position: relative;
      width: 150px;
      border-bottom: 2px solid @serpentine-red;
      margin-top: 2px;
    }
  }
  .textwidget {
    i.fa-facebook {
      color: @serpentine-red;
      font-size: 30px;
    }
    i.fa-instagram {
      color: #cc0000;
      font-size: 30px;
    }
    .instagram {
      display: block;
      padding-top: 10px
    }
    .socialName {
      font-size: 15px;
      font-weight: 700;
      color: @serpentine-red;
      padding-left: 10px;
      display: inline-flex;
      vertical-align: super;
    }
  }
  .widget_siteorigin-panels-postloop{
    .type-product {
      padding: 0;
      width: 100%;
    }
  }
}

.comments-title {
  margin-bottom: 0;
}

address {
  margin-bottom: 24px;
}

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, .12);
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

mark,
ins {
  background: @cream-yellow;
  text-decoration: none;
}

p {
  margin-bottom: 24px;
  font-size: 13px;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: monospace, serif;
  font-size: 1rem;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  background: @white-grey;
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 8px 16px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
  &:before, &:after {
    content: "";
    content: none;
  }

}

blockquote,
q {
  position: relative;
  display: inline-block;
  font-family: @georgia;
  padding-left: 24px;
  font-size: 1.384615em;
  line-height: 1.777;
  color: @75-grey;
  margin-bottom: 24px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, .12);
  }

}

blockquote {
  cite,
  small {
    color: inherit;
    font-size: 1em;
    font-weight: 400;
  }
  em,
  i,
  cite {
    font-style: normal;
  }
  strong,
  b {
    font-weight: 400;
  }
  * {
    margin-bottom: 0;
  }
}

small {
  font-size: smaller;
}

big {
  font-size: 125%;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

dl {
  margin-bottom: 24px;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 24px;
}

ul,
ol {
  list-style: none;
  margin: 0 0 24px 16px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  margin-left: 0;
}

li > ul,
li > ol {
  margin: 0 0 0 24px;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 0 24px;
  padding: 16px 16px 0;
}

legend {
  white-space: normal;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input {
  line-height: inherit;
}

input,
textarea {
  background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table,
th,
td {
  border: 1px solid rgba(0, 0, 0, .12);
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clear {
  clear: both !important;
}

.table-striped,
.table-striped th,
.table-striped td,
.table-classic,
.table-classic th,
.table-classic td {
  border: none;
}

.table-classic th,
.table-classic td {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

caption,
th,
td {
  font-weight: 400;
  text-align: left;
}

th,
td {
  padding: 8px 16px;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: 600;
}

td {
  border-width: 0 1px 1px 0;
}

del {
  color: #757575;
  text-decoration: line-through;
}

hr {
  background-color: rgba(0, 0, 0, .12);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
}

/* Input fields */

select,
input,
textarea {
  color: @9e-grey;
  font-size: 15px;
  line-height: 1;
  padding: 8px 0;
  border: none;
  margin-bottom: 8px;
  .darkShadow;
  .transition-03;
}

select:focus,
input:focus,
textarea:focus {
  color: inherit;
}

.section-inverse select,
.section-inverse input,
.section-inverse textarea {
  color: rgba(255, 255, 255, .7);
  .greyShadow;
}

select {
  padding: 0;
  line-height: normal;
  height: 36px;
  &:focus {
    outline: 0;
  }

  option {
    padding: 0;
    background: @white;
    color: rgba(0, 0, 0, .7);
  }
  option[disabled="disabled"],
  option:nth-of-type(1) {
    color: @9e-grey;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9e9e9e;
}

input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
  color: @9e-grey;
  opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
  color: @9e-grey;
  opacity: 1;
}

:-ms-input-placeholder {
  color: @9e-grey;
}

.section-inverse ::-webkit-input-placeholder {
  color: @black-03-opacity;
}

.section-inverse :-moz-placeholder { /* Firefox 18- */
  color: @black-03-opacity;
}

.section-inverse ::-moz-placeholder { /* Firefox 19+ */
  color: @black-03-opacity;
}

.section-inverse :-ms-input-placeholder {
  color: @black-03-opacity;
}

textarea {
  width: 100%;
  line-height: 1.5;
}

input:focus,
textarea:focus {
  outline: 0;
  .serpentineRedShadow;
}

input[type="radio"],
input[type="checkbox"] {
  min-height: 100%;
  vertical-align: middle;
  margin-bottom: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px dotted;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  padding: 8px 0;
  height: 30px;
  line-height: inherit;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background-color: transparent;
}

.expand-100 {
  width: 100%;
}

/* Buttons */

button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  position: relative;
  border: 0;
  color: @white-grey;
  background: @75-grey;
  font-size: 14px;
  line-height: 1.7142857;
  font-weight: 600;
  padding: 6px 16px;
  margin: 6px 4px 6px 0;
  display: inline-block;

  text-transform: uppercase;
  letter-spacing: .25px;

  -webkit-tap-highlight-color: transparent;

  .border-radius-2;

  .transition-box-shadow;

  .remove-box-shadow
}

.mejs-container {
  margin-bottom: 24px;
}

.mejs-container button {
  min-width: auto;
}

a.button {
  padding: 6px 16px;
  line-height: 24px;
  height: auto;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: @white;
  .darkerShadow
}

button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: @white;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
  background-image: -o-linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
  background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.mfp-wrap button:hover {
  background: none; /* Magnific popup lightbox fix */
}

button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}

a.external {
  font-weight: 600;
  color: @serpentine-red;
  &:hover {
    :hover {
      font-weight: 600;
      color: @serpentine-blue;
    }
  }

}

.btn-primary,
.btn-primary:visited {
  background-color: @serpentine-blue;
}

.btn-alt,
.btn-alt:visited {
  background-color: @serpentine-red;
}

.btn-block {
  width: 100%;
  text-align: center;
  .box-sizing-border-box;
}

.more-link {
  margin: 0;
  padding: 0;
}

/* Placeholder text color */

::-webkit-input-placeholder {
  color: @75-grey;
}

:-moz-placeholder {
  color: @75-grey;
}

::-moz-placeholder {
  color: @75-grey;
  opacity: 1;
}

:-ms-input-placeholder {
  color: @75-grey;
}

/* Responsive images */

img,
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
  max-width: 100%;
}

.logo-2x {
  display: inline-block;
}

.logo-2x img {
  max-width: 50% !important;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */

.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
  height: auto;
  vertical-align: top;
}

img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
  height: auto;
  max-width: 100%;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
  margin-bottom: 24px;
  max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
  margin-bottom: 0;
}

/* Alignment */

.alignleft {
  float: left;
  margin: 0 24px 0 0;
}

.alignright {
  float: right;
  margin: 0 0 0 24px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 24px;
}

.aligncenter img {
  margin: 0 auto;
  display: block;
}

blockquote.alignleft,
figure.wp-caption.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 16px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 16px 24px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
  margin-bottom: 0;
}

.site-content blockquote {
  .alignleft,
  .alignright {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 16px;
    width: 50%;
    p {
      margin-bottom: 16px;
    }
  }
}

.wp-caption {
  margin-bottom: 24px;
  color: @75-grey;
  img[class*="wp-image-"] {
    display: block;
    margin: 0;
  }
}

.wp-caption-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0;
  color: #757575;
  font-size: 14px;
}

div.wp-caption .wp-caption-text {
  padding-right: 8px;
}

div.wp-caption.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text {
  padding-left: 8px;
  padding-right: 0;
}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Assistive text */

.screen-reader-text,
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;

  &:focus {
    background-color: @white-grey;
    clip: auto;
    display: block;
    height: auto;
    line-height: normal;
    padding: 16px 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    text-decoration: none;
    text-transform: none;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
    .border-radius-3;
    .darkShadow2
  }
}

.hide {
  display: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

