@serpentine-red: #cc0000;
@serpentine-blue: #4595e5;
@dark-blue: #176bbf;
@white: #fff;
@white-grey: #f5f5f5;
@d4-grey: #4d4d4d;
@42-grey: #424242;
@61-grey: #616161;
@9e-grey: #9e9e9e;
@75-grey: #757575;
@cream-yellow: #ffff8d;
@black-03-opacity: rgba(255, 255, 255, .3);
@black-07-opacity: rgba(255, 255, 255, .7);

@open-sans: "Open Sans", Arial, Helvetica Neue, Helvetica, sans-serif;
@georgia: Georgia, "Times New Roman", Times, serif;
@material-icons: "Material Icons";
@font-family-inherit: inherit;
