.widget {
  margin-bottom: 60px;
  word-wrap: break-word;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.header-main .widget,
.primary-widget-area .widget,
.content-widget-area .widget {
  margin-bottom: 0;
}

.widget-area ul {
  position: relative;
  margin: 0 0 24px;
  padding: 0;
  line-height: 20px;
  list-style: none;

  li {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ul {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;

    li:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
  }

}

.widget > ul:not(.ss-social) > li:first-child,
.widget > div > ul:not(.ss-social) > li:first-child {
  padding-top: 0;
}

.widget-area ul a:hover,
.widget-area ul li.current-menu-item > a {
  color: @9e-grey;
  text-decoration: none;
}

.widget ins {
  background: transparent;
}

.widget span.count,
.widget small.count {
  float: right;
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.66666;
  padding: 0 4px;
  color: @75-grey;
  .border-radius-2;
}

/* Calendar widget */
#wp-calendar td,
#wp-calendar th {
  padding: 2%;
  text-align: center;
}

#wp-calendar td#today {
  background: rgba(0, 0, 0, .87);
  color: @white;
}

/* Product carousel */

.product-carousel .owl-loaded .product,
.product-carousel .owl-loaded .product-category {
  width: auto;
  max-width: 100%;
}

.testimonial-item blockquote {
  background: #eee;

  &:after {
    border-top-color: #eee;
    border-left-color: #eee;
  }
}

.wpcf7 {
  position: relative;
}

span.wpcf7-not-valid-tip {
  color: #f33;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  left: 0;
  max-width: inherit;
}

div.wpcf7-response-output {
  display: table;
  width: auto;
  min-width: 288px;
  max-width: 568px;
  margin: 0 0 24px;
  padding: 14px 24px;
  font-size: 14px;
  line-height: 1.4285714;
  color: @white;
  background: #323232;
  list-style-position: inside;
  border: none;
  .box-sizing-border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .24);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

div.wpcf7-response-output.wpcf7-display-none {
  display: none;
}

div.wpcf7-validation-errors {
  border: none;
}

div.wpcf7 {
  img.ajax-loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    opacity: .7;
  }
}

.rounded-2px {
  .border-radius-2;
}

.default-theme.wp-posts-carousel {
  .wp-posts-carousel-container {
    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, .12), 0 2px 8px rgba(0, 0, 0, .24) !important;
    }
    padding: 0 !important;
  }
  h3.wp-posts-carousel-title {
    font-size: 2.615385em;
    line-height: 1.1765;
    color: @white;
    text-align: initial;
    margin-bottom: 5px;
  }
  .wp-posts-carousel-image {
    padding-top: 0 !important;
  }
  .owl-controls {
    .owl-dots {
      .owl-dot {
        span {
          background-color: @white;
        }
        &.active,
        &:hover {
          margin-bottom: 2px;
          margin-left: -2px;
          span {
            background-color: @serpentine-blue;
          }
        }
      }
    }
  }
}

.owl-carousel {
  .owl-item {
    -webkit-backface-visibility: visible !important;
    display: block;
    height: auto !important;
    max-height: 360px !important;
  }
}

.wp-posts-carousel-details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.538462em 1.8461538em !important;
  z-index: 2;
  h3.wp-posts-carousel-title {
    font-size: 2.615385em;
    line-height: 1.1765;
    color: @white;
    text-align: initial;
    margin-bottom: 5px;
  }
}

.widget_wp_posts_carousel {
  .default-theme.wp-posts-carousel {
    .wp-posts-carousel-desc {
      padding: 0;
      color: @white;
      font-size: 1.23077em;
      line-height: 1.5;
      max-width: 300px;
    }
    .wp-posts-carousel-slide {
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      margin-left: 0;
    }
    .wp-posts-carousel-image {
      img {
        height: initial;
      }
    }
  }
}

.wp-posts-carousel-image {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 360px;
    background: @serpentine-red;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  a {
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-bottom: 360px solid transparent;
      border-left: 360px solid @serpentine-red;
      position: absolute;
      left: 120px;
      top: 0;
    }
  }
}

.widget_ink-filt-ardn {
  .iw-so-filter-accordion.iw-so-accordion {
    .iw-so-acc-item {
      .iw-so-acc-title {
        padding: 12px 0;
        position: relative;
        font-size: 16px;
        line-height: 1.5;
        color: @75-grey;
        cursor: pointer;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        .sow-icon-fontawesome {
          color: @75-grey;
          font-size: 20px;
        }
      }
    }
  }
}

.so-widget-ink-filt-ardn {
  margin-bottom: 30px;
}

/* FlipContainer */

.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 750px;
  i {
    padding: 0 5px;
  }
}

.flip-container.werkstatt {
  height: 860px;
}

.flip-container.hover {
  .back {
    transform: rotateY(0deg);
  }
  .front {
    transform: rotateY(180deg);
  }
}

.flipper {
  transition: transform .5s ease-in-out;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -ms-transition: -ms-transform .5s ease-in-out;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
  .pricing-grid {
    position: absolute;
    overflow: inherit;
    width: 100%;
    backface-visibility: hidden;
    transition: transform .5s ease-in-out;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    &.back {
      .switch-field label {
        border: 1px solid @white !important;
      }
      .switch_leftLabel {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .switch_rightLabel {
        pointer-events: none;
      }
    }

    &.front {
      .switch_rightLabel {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .switch_leftLabel {
        pointer-events: none;
      }
    }

    .btn-medium {
      position: absolute;
      bottom: 24px;
      width: 92%;
    }

    .switch-field {
      overflow: hidden;
      position: absolute;
      padding: 7px 15px;
      width: 94%;
      bottom: 24px;

      input {
        display: none;
      }

      label {
        float: left;
      }

      label {
        display: inline-block;
        width: 36%;
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
        text-transform: uppercase;
        background-color: @serpentine-blue;
        color: @white;
        text-align: center;
        padding: 6px 14px;
        border: 1px solid rgba(77, 77, 77, 1);
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
      }
      input:checked + label {
        background-color: @white;
        color: @serpentine-blue;
        border-color: @serpentine-blue;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

    }

  }
  .pricing-grid.back {
    background: @serpentine-blue;
    color: @white;
  }
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

/*zooming images*/

.sow-image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
    &:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      transition: all 2s ease;
    }
  }
}

.post-thumb {
  img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
  }
}

.invertZoom {
  .sow-image-container {
    img {
      &:hover {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
      }
    }
  }
}

.entry-inner {
  &:hover {
    img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      transition: all 2s ease;
    }
  }
}

/*blocking Overlay*/
.blockingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  /*    background-color: rgba(0, 0, 0, .8);*/
  background-color: rgba(204, 0, 0, .8);
  height: 100%;
  width: 100%;
  z-index: 3;
  display: none;
}

/**woocommerce stuff **/
.yith-woocommerce-ajax-product-filter {
  h2 {
    margin-bottom: 10px;
  }
}

.woocommerce.yith-woocommerce-ajax-product-filter {
  ul {
    margin-bottom: 15px;
  }
}

.woocommerce {
  .widget_layered_nav {
    ul {
      li.chosen {
        a {
          &:before {
            color: @75-grey;
            content: '\e5cd';
            font-family: @material-icons;
          }
          font-weight: 700;
        }
      }
    }
  }
}

/* ## GOTO Next ********************** */

.goto-next {
  text-transform: uppercase;
  position: absolute;
  bottom: 60px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 18px;
  color: @white;
  a {
    display: block;
    position: relative;
    animation-duration: 5s;
    &:focus {
      color: @serpentine-red;
    }
    &:hover {
      color: @serpentine-red;
    }
  }
}

.arrow {
  position: fixed;
  bottom: -10px;
  left: 50%;
  margin-left: -15px;
  width: 25px;
  height: 14px;
  background-size: contain;
  font-size: 36px;
  color: @white;
  animation-duration: 5s;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

.eventList {

  h3 {
    display: none;
  }
  ul {
    list-style: none;
    float: left;
    margin: 0 0 0 0;

    @media (min-width: 769px) {
      .eventItem {
        width: 33.33333333333333%;

        &:nth-child(1) {
          padding-left: 0;
          padding-right: 15px;
        }
        &:nth-child(3) {
          padding-left: 15px;
          padding-right: 0;
        }

        .image-set {
          min-height: 210px;
          max-height: 210px;
          overflow: hidden;
        }
      }
    }

    .eventItem {
      margin-bottom: 20px;
      float: left;
      box-sizing: border-box;

      .collection-description h2 {
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .image-set {
        min-height: 180px;
        max-height: 180px;
        overflow: hidden;

        img {
          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          transition: all 2s ease;

          &:hover {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            transition: all 2s ease;
          }
        }
      }
    }
  }
}

.single-event,
.single-location {
  .container h3 {
    display: none;
  }
  .parallax .color-overlay {
    padding: 280px 0 48px;
  }
  ul {
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.eventsOverview {
  padding-top: 144px;
}

/**postCarousel**/

.so-widget-sow-post-carousel {
  width: 100%;
  overflow: hidden;
  .sow-carousel-wrapper {
    float: left;
    margin-top: 30px;
    overflow: inherit;
    margin-bottom: 20px;
    ul.sow-carousel-items {
      li.sow-carousel-item {
        position: relative;
        box-sizing: border-box;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .12);
        .border-radius-2;
        &:hover {
          -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
          -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
          box-shadow: 0 2px 6px rgba(0, 0, 0, .48);
        }
        .collection-category {
          padding-left: 16px;
          margin-bottom: -14px;
          margin-top: 7px;
        }
        .sale {
          position: absolute;
          top: 100px;
          right: 6px;
          padding: 0 5px;
          font-size: 14px;
          line-height: 2.4;
          line-height: 20px;
          font-weight: 200;
          text-align: center;
          text-transform: uppercase;
          background: @serpentine-blue;
          color: #fff;
          z-index: 15;
          text-decoration: none;
          -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
        }
        .price-range {
          position: absolute;
          top: 120px;
          right: 10px;
          padding: 0 8px;
          font-size: 14px;
          line-height: 2.4;
          line-height: 24px;
          font-weight: 200;
          text-align: center;
          text-transform: uppercase;
          background: @serpentine-red;
          color: #fff;
          z-index: 15;
          text-decoration: none;
          -webkit-transform: skew(-10deg);
          transform: skew(-10deg);

          .woocommerce-Price-currencySymbol {
            display: none
          }
        }
      }
    }
  }
  .sow-carousel-title {
    position: relative;
  }
}

.so-widget-sow-post-carousel {
  .sow-carousel-title {
    a.sow-carousel-next {
      position: absolute;
      right: 0;
      top: 130px;
      z-index: 2;
      width: 40px;
      height: 40px;
      background-color: rgba(77, 77, 77, .8);
      &:before {
        font-family: @material-icons;
        font-size: 30px;
        line-height: 42px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        content: "\e315";
      }
    }
    a.sow-carousel-previous {
      position: absolute;
      left: 0;
      top: 130px;
      z-index: 2;
      width: 40px;
      height: 40px;
      background-color: rgba(77, 77, 77, .8);
      &:before {
        font-family: @material-icons;
        font-size: 30px;
        line-height: 42px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        content: "\e314";
      }
    }
  }
}

.sow-carousel-wrapper {
  ul.sow-carousel-items {
    li.sow-carousel-item {
      h3 {
        a {
          text-align: initial;
          float: left;
          padding: 0 16px 10px;
          color: @75-grey;
          font-family: @font-family-inherit;
          min-height: 56px;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

/*tabs*/
.iw-so-tabs-nav,
.pt-tabs__navigation {
  display: flex;
  justify-content: center;
}

.so-widget-ink-tabs,
.panel-widget-style {
  .iw-so-tabs,
  .pt-tabs {
    .nav-tabs {
      border-bottom-color: transparent;
      margin-bottom: 50px;
      margin-left: 0;
    }
    .iw-so-tab-title,
    .nav-item {
      .nav-link {
        &:focus,
        &:hover {
          border-color: transparent;
          border-bottom-color: #e0e0e0;
        }
        &.active {
          border-color: transparent;
          border-bottom-color: @serpentine-blue;
        }
      }
      a {
        padding: 12px 16px 10px;
        color: rgba(0, 0, 0, .54);
        line-height: 1.7142857;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        display: inline-block;
        font-size: 18px;

        @media only screen and (min-width: 1024px) {
          font-size: 22px;
        }
        
        &:hover {
          color: @42-grey;
          border-bottom-color: #e0e0e0;
        }
        &.active {
          color: @42-grey;
          border-bottom-color: @serpentine-blue;
          background: transparent;
        }
      }
    }
    .iw-so-tab-title.iw-so-tab-active {
      a {
        color: @42-grey;
        border-bottom-color: @serpentine-blue;
        background: transparent;
      }
    }
  }
}

.envira-gallery-wrap.envira-gallery-theme-base .envira-gallery-public .envira-gallery-item {
  img {
    padding: 2px;
  }

  .caption {
    background-color: transparent;
    font-size: 0;
  }
}

.yith-woocommerce-ajax-product-filter.with-checkbox ul li a:before {
  border: 1px solid #b4b9be;
  background: @white;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: 20px;
  margin: 0 4px 0 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  -webkit-appearance: none;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  font-size: 16px;
  font-family: @material-icons;
  outline: none;
}

.yith-woocommerce-ajax-product-filter .yith-wcan-stock-on-sale {
  margin-top: -20px;
  .yith-wcan-onsale-button {
    font-weight: bold;
    &:hover {
      color: @d4-grey;
    }
  }
}

.woocommerce .widget_layered_nav ul li.chosen a:before,
.yith-woocommerce-ajax-product-filter.with-checkbox ul li a.active:before {
  content: '\e5ca';
  color: @serpentine-blue;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border: none;
  margin-right: 6px;
}

.opener {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .42);
    z-index: 0;
  }
  .slider {
    margin: 0;
    padding: 0;
    counter-reset: section;

    &[data-animation="9"] > li {
      -webkit-animation: fade-out 9s infinite both;
      -moz-animation: fade-out 9s infinite both;
      animation: fade-out 9s infinite both;
    }

    &[data-animation="18"] > li {
      -webkit-animation: fade-out 18s infinite both;
      -moz-animation: fade-out 18s infinite both;
      animation: fade-out 18s infinite both;
    }

    &[data-animation="27"] > li {
      -webkit-animation: fade-out 27s infinite both;
      -moz-animation: fade-out 27s infinite both;
      animation: fade-out 27s infinite both;
    }
    &[data-animation="36"] > li {
      -webkit-animation: fade-out 36s infinite both;
      -moz-animation: fade-out 36s infinite both;
      animation: fade-out 36s infinite both;
    }

    li {
      height: 100% !important;
      width: 100%;
      position: absolute;
      top: 0;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: 0;
      opacity: 0;

    }
  }

  .container {
    z-index: 4;
    -webkit-animation: fade-in ease-in-out 0.5s 0.5s both;
    -moz-animation: fade-in ease-in-out 0.5s 0.5s both;
    animation: fade-in ease-in-out 0.5s 0.5s both;
  }
}


.homepage-slider {
  height: 100vh;
  margin: 20px auto;
  position: relative;
  margin: 0 -101%;

  [data-am-gallery] {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: @white;


    input[type="radio"] {
      position: fixed;
      top: -9999px;
      &:checked {
        &:nth-child(5) {
          & ~ .images {
            .image {
              &:nth-child(5) {
                opacity: 1;
              }
            }
          }
          & ~ .navigation {
            .dot {
              &:nth-child(5) {
                background-color: @serpentine-blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        &:nth-child(4) {
          & ~ .images {
            .image {
              &:nth-child(4) {
                opacity: 1;
              }
            }
          }
          & ~ .navigation {
            .dot {
              &:nth-child(4) {
                background-color: @serpentine-blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        &:nth-child(3) {
          & ~ .images {
            .image {
              &:nth-child(3) {
                opacity: 1;
              }
            }
          }
          & ~ .navigation {
            .dot {
              &:nth-child(3) {
                background-color: @serpentine-blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        &:nth-child(2) {
          & ~ .images {
            .image {
              &:nth-child(2) {
                opacity: 1;
              }
            }
          }
          & ~ .navigation {
            .dot {
              &:nth-child(2) {
                background-color: @serpentine-blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        &:nth-child(1) {
          & ~ .images {
            .image {
              &:nth-child(1) {
                opacity: 1;
              }
            }
          }
          & ~ .navigation {
            .dot {
              &:nth-child(1) {
                background-color: @serpentine-blue;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: opacity 3s ease;
      transition: opacity 3s ease;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .navigation {
      position: absolute;
      bottom: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 2px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      -webkit-transition: opacity 200ms ease;
      transition: opacity 200ms ease;

      &:hover {
        opacity: 0.8;
        width: 15px;
        height: 15px;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
    .force-full-screen {
      > .container {
        width: 100vw;
        max-width: 1220px;
        padding: 0 24px;

        h2 {
          font-family: 'Armata', sans-serif;
          font-weight: bold;
        }
      }
    }
  }
}


/*----------------------------------------------
--Fade ins
-----------------------------------------------  */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

@keyframes fade-out {
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}

.widget.widget_layered_nav li.yit-wcan-child-terms.level-1 {
  padding-left: 0;
}

.yit-wcan-parent-terms {
  &:empty {
    display: none;
  }
}

.yith-wcan-list.yith-wcan.categories {
  margin-top: -20px;
}

#woo-sidebar {
  .widget {
    margin-bottom: 40px;
  }
}


.product-carousel {
  .products {
    &.owl-carousel .owl-stage{
      margin-bottom: 24px;
    }
    .owl-stage-outer {
    height: auto !important;
    }
  }
}

.tab-content > .tab-pane {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  display: block !important;
}

.tab-content > .active {
  visibility: visible;
  height: auto;
  overflow: visible;
  display: block !important;
}


